{% extends 'base.html' %}
{% from 'bootstrap/table.html' import render_table %}

{% block content %}
<body>
<div class="container">
  <div class="row text-center">
<!--    <div class="text-info font-weight-bolder col-sm-12  mb-1"><h1>@mapper</h1></div>-->
    <div class="text-info font-weight-bold col-sm-12 mb-1 mt-0"><h4><u>About</u></h4></div>
    <div class="col-sm-12 mb-0"><p>This app accepts Instagram handles and populates a map with markers of recent post locations.</p></div>
    <div class="text-info font-weight-bold col-sm-12 mb-1"><h4><u>Inspiration</u></h4></div>
    <div class="col-sm-12 mb-0"><p>The inspiration came from a desire to visually follow a friends' group along their travels.
    Starting April 2021, their trip sets out to spend the next 4 months covering most of Southern Africa.
    Follow them: <a href="https://www.instagram.com/4x4theboiz">@4x4theboiz</a></p>
    <p></p>
    <p>I hope this app helps connect families and friends to our beloved Boys! May the map guide them (us!) through the journey.
    May Esmeralda chug along relentlessly, and May Karl be the level-headed peacekeeper.</p>
    </div>
    <div class="text-info font-weight-bold col-sm-12 mb-1"><h4><u>Disclaimer</u></h4></div>
    <div class="col-sm-12 mb-0"><p>This app is meant for demonstrative purposes only. We rely on public accounts that have location tagged posts.
    Only 2 weeks old, first time searches are slow, some locations may fail to map, and only recent posts are accessible.
    Please send any questions to <a href="https://www.instagram.com/mattwilliamdalton91/">@09grantm</a></p></div>

</div>
</div>



</body>
</html>
{% endblock %}