{% extends 'base.html' %}
{% from 'bootstrap/table.html' import render_table %}

{% block content %}
<body>
<div class="container">
  <div class="row text-center">
<!--    <div class="text-info font-weight-bolder col-sm-12  mb-1"><h1>@mapper</h1></div>-->
    <div class="text-info font-weight-bold col-sm-12 mb-1 mt-0"><h5><u>About</u></h5></div>
    <div class="col-sm-12 mb-0"><p>This app accepts Instagram handles and pins recent post locations to a map.</p></div>
    <div class="text-info font-weight-bold col-sm-12 mb-1"><h5><u>Inspiration</u></h5></div>
    <div class="col-sm-12 mb-0"><p>The inspiration came from a desire to visually follow a friends' group along their travels.
    Starting April 2021, their trip sets out to spend the next 4 months covering most of Southern Africa.
    Follow them: <a class="text-info" href="https://www.instagram.com/4x4theboiz">@4x4theboiz</a></p>
    <p></p>
    <p>I hope this app helps connect families and friends to our beloved Boys! May the map guide them (us!) through the journey.
    May Esmeralda relentlessly chug along, and May Karl be the level-headed peacekeeper.</p>
    </div>
    <div class="text-info font-weight-bold col-sm-12 mb-1"><h5><u>Disclaimer</u></h5></div>
    <div class="col-sm-12 mb-0"><p>This app is meant for demonstrative purposes only.
    Data is sourced from public accounts that have tagged locations within their posts.
    First time searches may be slow, some locations may fail to map, and only recent posts are accessible.
    Special thanks to <a class="text-info" href="https://www.instagram.com/mattwilliamdalton91/">@09grantm</a> for his content creation.</p></div>
    <div class="text-info font-weight-bold col-sm-12 mb-1"><h5><u>Update - End of April</u></h5></div>
    <div class="col-sm-12 mb-0"><p>Styling has migrated to Bootsrap 4. @viewer has been created and joined to @mapper for photo viewing.<p></p>
        As the journey become more remote and internet connectivity scarce, a decision has been made to moderate the data of @4x4theboiz.
        After @mapper has done its work, locations may be added manually. All other accounts and algorithms will remain unchanged.</p></div>

</div>
</div>



</body>
</html>
{% endblock %}
