{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="application-name" content="@mapper">
    <meta name="description" content="@mapper is an Instagram location mapper">
    <meta name="author" content="Greg Christodoulou">
    <meta name="keywords" content="Instagram, Map, Mapper, Handle, Search, @mapper, Atmapper">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@mapper</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{url_for('.static', filename='mystyle.css')}}">
    <style>
        pre {
            background: #ddd;
            padding: 10px;
        }
        h2 {
            margin-top: 20px;
        }
        footer {
            margin: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info mb-4 ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                {{ render_nav_item('index', 'Home', use_li=True) }}
                {{ render_nav_item('about', 'About', use_li=True) }}
                {{ render_nav_item('explore', 'Explore', use_li=True) }}
                {{ render_nav_item('at_viewer', '@viewer', use_li=True) }}


            </ul>
        </div>
    </nav>
    
    <main class="container">
        {{ render_messages(container=False, dismissible=True) }}
        {% block content %}{% endblock %}
<!--        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
    </main>-->

    <footer class="text-center m-1">
        {% block footer %}
            <small> See photos: <a href="https://atmapper.herokuapp.com/at_viewer" title="@mapper">@viewer</a>
               |  &copy; <script>document.write(new Date().getFullYear())</script> <a href="https://linkedin.com/in/gregory-christodoulou" title="Written by Gregory Christodulou">Greg Christodulou</a>
            </small>
        {% endblock %}
    </footer>

    {{ bootstrap.load_js() }}
</body>
</html>
