<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9d845045a401420ea1ecb54ceb42b496 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_9d845045a401420ea1ecb54ceb42b496" ></div>
        
</body>
<script>    
    
            var map_9d845045a401420ea1ecb54ceb42b496 = L.map(
                "map_9d845045a401420ea1ecb54ceb42b496",
                {
                    center: [-33.4, 18.8],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7c07330c4b5843ee8ea07034cdaecb34 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9d845045a401420ea1ecb54ceb42b496);
        
    
            var marker_cluster_fe19c9d3709d41f7addd17c791f8829d = L.markerClusterGroup(
                {}
            );
            map_9d845045a401420ea1ecb54ceb42b496.addLayer(marker_cluster_fe19c9d3709d41f7addd17c791f8829d);
        
    
            var marker_7d723f746bda4b2b8a1f213ed272a4fd = L.marker(
                [11.5024338, 17.7578122],
                {}
            ).addTo(marker_cluster_fe19c9d3709d41f7addd17c791f8829d);
        
    
        var popup_36f57e85e8d94a9fbd360b89b9e4834c = L.popup({"maxWidth": 400});

        
            var html_3c898c188e5244e48519df00b1b60d74 = $(`<div id="html_3c898c188e5244e48519df00b1b60d74" style="width: 100.0%; height: 100.0%;">Africa <br> <a href=https://www.picuki.com/media/2530775927641018536 > See Post</div>`)[0];
            popup_36f57e85e8d94a9fbd360b89b9e4834c.setContent(html_3c898c188e5244e48519df00b1b60d74);
        

        marker_7d723f746bda4b2b8a1f213ed272a4fd.bindPopup(popup_36f57e85e8d94a9fbd360b89b9e4834c)
        ;

        
    
    
            var marker_6584d565c4a94df49308476ccae8a342 = L.marker(
                [-34.23, 19.428333],
                {}
            ).addTo(marker_cluster_fe19c9d3709d41f7addd17c791f8829d);
        
    
        var popup_a6869e63926a470193dd2bd803e99f43 = L.popup({"maxWidth": 400});

        
            var html_ca60cd57517e4bd6aaf47dd0b1bc6f28 = $(`<div id="html_ca60cd57517e4bd6aaf47dd0b1bc6f28" style="width: 100.0%; height: 100.0%;">Caledon, Western Cape <br> <a href=https://www.picuki.com/media/2534834726714481670 > See Post</div>`)[0];
            popup_a6869e63926a470193dd2bd803e99f43.setContent(html_ca60cd57517e4bd6aaf47dd0b1bc6f28);
        

        marker_6584d565c4a94df49308476ccae8a342.bindPopup(popup_a6869e63926a470193dd2bd803e99f43)
        ;

        
    
    
            var marker_57e609aa388e4b07bc0d6c6992e03d50 = L.marker(
                [-34.0775777, 18.356445],
                {}
            ).addTo(marker_cluster_fe19c9d3709d41f7addd17c791f8829d);
        
    
        var popup_7b600d1b388749adb0d10c41725c7524 = L.popup({"maxWidth": 400});

        
            var html_2d50a802d52f4662a4635eb92389d562 = $(`<div id="html_2d50a802d52f4662a4635eb92389d562" style="width: 100.0%; height: 100.0%;">Chapman’s Peak View Point <br> <a href=https://www.picuki.com/media/2539260610150175754 > See Post</div>`)[0];
            popup_7b600d1b388749adb0d10c41725c7524.setContent(html_2d50a802d52f4662a4635eb92389d562);
        

        marker_57e609aa388e4b07bc0d6c6992e03d50.bindPopup(popup_7b600d1b388749adb0d10c41725c7524)
        ;

        
    
    
            var marker_3d94b68bb0d74e9da20adff11e766b62 = L.marker(
                [-33.9734352, 18.469151231773292],
                {}
            ).addTo(marker_cluster_fe19c9d3709d41f7addd17c791f8829d);
        
    
        var popup_76eab49db60346a2a78647472536474b = L.popup({"maxWidth": 400});

        
            var html_a46644f689d442febb051508637d0cf7 = $(`<div id="html_a46644f689d442febb051508637d0cf7" style="width: 100.0%; height: 100.0%;">Newlands Cricket Ground <br> <a href=https://www.picuki.com/media/2541353923355583137 > See Post</div>`)[0];
            popup_76eab49db60346a2a78647472536474b.setContent(html_a46644f689d442febb051508637d0cf7);
        

        marker_3d94b68bb0d74e9da20adff11e766b62.bindPopup(popup_76eab49db60346a2a78647472536474b)
        ;

        
    
    
            var marker_b83cbcb2e506403d977dbdf3080e92d1 = L.marker(
                [-34.123956, 18.4530177],
                {}
            ).addTo(marker_cluster_fe19c9d3709d41f7addd17c791f8829d);
        
    
        var popup_89f6babaae544733bd8564865ad1bf10 = L.popup({"maxWidth": 400});

        
            var html_432dadb8515d451a9956fc14cff2d70a = $(`<div id="html_432dadb8515d451a9956fc14cff2d70a" style="width: 100.0%; height: 100.0%;">Dalebrook Tidal Pool <br> <a href=https://www.picuki.com/media/2550823706056584183 > See Post</div>`)[0];
            popup_89f6babaae544733bd8564865ad1bf10.setContent(html_432dadb8515d451a9956fc14cff2d70a);
        

        marker_b83cbcb2e506403d977dbdf3080e92d1.bindPopup(popup_89f6babaae544733bd8564865ad1bf10)
        ;

        
    
    
            var marker_4ce3ef099e4a42e9963eab27e0dc8dec = L.marker(
                [-33.9509089, 18.37773090386552],
                {}
            ).addTo(marker_cluster_fe19c9d3709d41f7addd17c791f8829d);
        
    
        var popup_80aa8b6884bf4ee4bde2dd065ddd8b71 = L.popup({"maxWidth": 400});

        
            var html_4f13c2f9e908434399b71c4d26f22430 = $(`<div id="html_4f13c2f9e908434399b71c4d26f22430" style="width: 100.0%; height: 100.0%;">Camps Bay Beach ,Cape Town <br> <a href=https://www.picuki.com/media/2552924793311875852 > See Post</div>`)[0];
            popup_80aa8b6884bf4ee4bde2dd065ddd8b71.setContent(html_4f13c2f9e908434399b71c4d26f22430);
        

        marker_4ce3ef099e4a42e9963eab27e0dc8dec.bindPopup(popup_80aa8b6884bf4ee4bde2dd065ddd8b71)
        ;

        
    
    
            var marker_84ccb7f968594ff88a1905492985b8f6 = L.marker(
                [-33.9617001, 18.422761521953632],
                {}
            ).addTo(marker_cluster_fe19c9d3709d41f7addd17c791f8829d);
        
    
        var popup_cabcf082da48491eb63031d6343e3de1 = L.popup({"maxWidth": 400});

        
            var html_50853562d8ec42af85a86e4620c97cbe = $(`<div id="html_50853562d8ec42af85a86e4620c97cbe" style="width: 100.0%; height: 100.0%;">Table Mountain National Park <br> <a href=https://www.picuki.com/media/2555107219152849651 > See Post</div>`)[0];
            popup_cabcf082da48491eb63031d6343e3de1.setContent(html_50853562d8ec42af85a86e4620c97cbe);
        

        marker_84ccb7f968594ff88a1905492985b8f6.bindPopup(popup_cabcf082da48491eb63031d6343e3de1)
        ;

        
    
    
            var marker_3b751b325dc0413f94f6e2b1b4c5fec5 = L.marker(
                [-32.3650375, 19.112815948553493],
                {}
            ).addTo(marker_cluster_fe19c9d3709d41f7addd17c791f8829d);
        
    
        var popup_e21d32f6c7a944588e6d2edf7a64e7ec = L.popup({"maxWidth": 400});

        
            var html_7f8b6ecabf8f4245822327e4921d400d = $(`<div id="html_7f8b6ecabf8f4245822327e4921d400d" style="width: 100.0%; height: 100.0%;">Cederberg Wilderness Area <br> <a href=https://www.picuki.com/media/2556579435820378016 > See Post</div>`)[0];
            popup_e21d32f6c7a944588e6d2edf7a64e7ec.setContent(html_7f8b6ecabf8f4245822327e4921d400d);
        

        marker_3b751b325dc0413f94f6e2b1b4c5fec5.bindPopup(popup_e21d32f6c7a944588e6d2edf7a64e7ec)
        ;

        
    
    
            var marker_7a9bf8b63d4e4acc88717e730f393c80 = L.marker(
                [-32.5005556, 19.2569444],
                {}
            ).addTo(marker_cluster_fe19c9d3709d41f7addd17c791f8829d);
        
    
        var popup_b458ae0b5ab84f8890bfc403ac0d3180 = L.popup({"maxWidth": 400});

        
            var html_e4a176037bda413da4c2cc025293b705 = $(`<div id="html_e4a176037bda413da4c2cc025293b705" style="width: 100.0%; height: 100.0%;">Cederberg <br> <a href=https://www.picuki.com/media/2558737038579263395 > See Post</div>`)[0];
            popup_b458ae0b5ab84f8890bfc403ac0d3180.setContent(html_e4a176037bda413da4c2cc025293b705);
        

        marker_7a9bf8b63d4e4acc88717e730f393c80.bindPopup(popup_b458ae0b5ab84f8890bfc403ac0d3180)
        ;

        
    
    
            var marker_3f35bbbc67544cd4b1266c0d51a95624 = L.marker(
                [-28.8166236, 24.991639],
                {}
            ).addTo(marker_cluster_fe19c9d3709d41f7addd17c791f8829d);
        
    
        var popup_6bb0ccd5f332495ea8c67d0a43da2cfc = L.popup({"maxWidth": 400});

        
            var html_8f99eeeeeaa84178880b8ca845f9293a = $(`<div id="html_8f99eeeeeaa84178880b8ca845f9293a" style="width: 100.0%; height: 100.0%;">South Africa <br> <a href=https://www.picuki.com/media/2560948346699471670 > See Post</div>`)[0];
            popup_6bb0ccd5f332495ea8c67d0a43da2cfc.setContent(html_8f99eeeeeaa84178880b8ca845f9293a);
        

        marker_3f35bbbc67544cd4b1266c0d51a95624.bindPopup(popup_6bb0ccd5f332495ea8c67d0a43da2cfc)
        ;

        
    
</script>