<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ac9b56c41c104bb3bbabc8419da41354 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_ac9b56c41c104bb3bbabc8419da41354" ></div>
        
</body>
<script>    
    
            var map_ac9b56c41c104bb3bbabc8419da41354 = L.map(
                "map_ac9b56c41c104bb3bbabc8419da41354",
                {
                    center: [-33.4, 18.8],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f94898948f9948999bf9618d5136825e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ac9b56c41c104bb3bbabc8419da41354);
        
    
            var marker_cluster_baad11e16a9640e0aef638ff9ee00032 = L.markerClusterGroup(
                {}
            );
            map_ac9b56c41c104bb3bbabc8419da41354.addLayer(marker_cluster_baad11e16a9640e0aef638ff9ee00032);
        
    
            var marker_1683b6d358d3487884b4fed23cbcc38c = L.marker(
                [11.5024338, 17.7578122],
                {}
            ).addTo(marker_cluster_baad11e16a9640e0aef638ff9ee00032);
        
    
        var popup_86fa7dd9f9f64ef4813bfc97f3422002 = L.popup({"maxWidth": 400});

        
            var html_69b74d4a6bd84f049655f292e2d36225 = $(`<div id="html_69b74d4a6bd84f049655f292e2d36225" style="width: 100.0%; height: 100.0%;">Africa <br> <a href=https://www.picuki.com/media/2530775927641018536 > See Post</div>`)[0];
            popup_86fa7dd9f9f64ef4813bfc97f3422002.setContent(html_69b74d4a6bd84f049655f292e2d36225);
        

        marker_1683b6d358d3487884b4fed23cbcc38c.bindPopup(popup_86fa7dd9f9f64ef4813bfc97f3422002)
        ;

        
    
    
            var marker_66722a08f78c4a95a35e93d702615378 = L.marker(
                [-34.23, 19.428333],
                {}
            ).addTo(marker_cluster_baad11e16a9640e0aef638ff9ee00032);
        
    
        var popup_5c9552d8520741d4b8f29be4a0fa93e7 = L.popup({"maxWidth": 400});

        
            var html_bab5e1d2a7ad4ce3a109717a21fdcaba = $(`<div id="html_bab5e1d2a7ad4ce3a109717a21fdcaba" style="width: 100.0%; height: 100.0%;">Caledon, Western Cape <br> <a href=https://www.picuki.com/media/2534834726714481670 > See Post</div>`)[0];
            popup_5c9552d8520741d4b8f29be4a0fa93e7.setContent(html_bab5e1d2a7ad4ce3a109717a21fdcaba);
        

        marker_66722a08f78c4a95a35e93d702615378.bindPopup(popup_5c9552d8520741d4b8f29be4a0fa93e7)
        ;

        
    
    
            var marker_cb28c29cf9ac4ec39e10fa19a022ab36 = L.marker(
                [-34.0775777, 18.356445],
                {}
            ).addTo(marker_cluster_baad11e16a9640e0aef638ff9ee00032);
        
    
        var popup_f054490d73d942019983957f0edc251e = L.popup({"maxWidth": 400});

        
            var html_069508c491964e6289afb6cf60df68dd = $(`<div id="html_069508c491964e6289afb6cf60df68dd" style="width: 100.0%; height: 100.0%;">Chapman’s Peak View Point <br> <a href=https://www.picuki.com/media/2539260610150175754 > See Post</div>`)[0];
            popup_f054490d73d942019983957f0edc251e.setContent(html_069508c491964e6289afb6cf60df68dd);
        

        marker_cb28c29cf9ac4ec39e10fa19a022ab36.bindPopup(popup_f054490d73d942019983957f0edc251e)
        ;

        
    
    
            var marker_aa8e422ff3244723918c83f7642ae799 = L.marker(
                [-33.9734352, 18.469151231773292],
                {}
            ).addTo(marker_cluster_baad11e16a9640e0aef638ff9ee00032);
        
    
        var popup_b719bf70b14944f1b018d15d210b9abb = L.popup({"maxWidth": 400});

        
            var html_bd897b1361af45a699a0fe630a41aa6b = $(`<div id="html_bd897b1361af45a699a0fe630a41aa6b" style="width: 100.0%; height: 100.0%;">Newlands Cricket Ground <br> <a href=https://www.picuki.com/media/2541353923355583137 > See Post</div>`)[0];
            popup_b719bf70b14944f1b018d15d210b9abb.setContent(html_bd897b1361af45a699a0fe630a41aa6b);
        

        marker_aa8e422ff3244723918c83f7642ae799.bindPopup(popup_b719bf70b14944f1b018d15d210b9abb)
        ;

        
    
    
            var marker_4b7bd3daf55a4a58a22bb6c97e3a518f = L.marker(
                [-28.8166236, 24.991639],
                {}
            ).addTo(marker_cluster_baad11e16a9640e0aef638ff9ee00032);
        
    
        var popup_93a1af8717b24bb6af5287b9c02779e6 = L.popup({"maxWidth": 400});

        
            var html_8ddebfd86331487c98a2c11bc526705e = $(`<div id="html_8ddebfd86331487c98a2c11bc526705e" style="width: 100.0%; height: 100.0%;">South Africa <br> <a href=https://www.picuki.com/media/2548601227858865500 > See Post</div>`)[0];
            popup_93a1af8717b24bb6af5287b9c02779e6.setContent(html_8ddebfd86331487c98a2c11bc526705e);
        

        marker_4b7bd3daf55a4a58a22bb6c97e3a518f.bindPopup(popup_93a1af8717b24bb6af5287b9c02779e6)
        ;

        
    
    
            var marker_b22141190cf949d19521853d7131edbb = L.marker(
                [-34.123956, 18.4530177],
                {}
            ).addTo(marker_cluster_baad11e16a9640e0aef638ff9ee00032);
        
    
        var popup_45aeceb326234881be849960f4dcbd1e = L.popup({"maxWidth": 400});

        
            var html_a37bb3c631c64c47bbf531918020420a = $(`<div id="html_a37bb3c631c64c47bbf531918020420a" style="width: 100.0%; height: 100.0%;">Dalebrook Tidal Pool <br> <a href=https://www.picuki.com/media/2550823706056584183 > See Post</div>`)[0];
            popup_45aeceb326234881be849960f4dcbd1e.setContent(html_a37bb3c631c64c47bbf531918020420a);
        

        marker_b22141190cf949d19521853d7131edbb.bindPopup(popup_45aeceb326234881be849960f4dcbd1e)
        ;

        
    
    
            var marker_8a03aeb19b29460fb4ad690423b0c57b = L.marker(
                [-33.9509089, 18.37773090386552],
                {}
            ).addTo(marker_cluster_baad11e16a9640e0aef638ff9ee00032);
        
    
        var popup_0013a340e9e040a5be6a3a41c8ebfec2 = L.popup({"maxWidth": 400});

        
            var html_1db3c5ae80c54d93bf37a8a4e12d26a9 = $(`<div id="html_1db3c5ae80c54d93bf37a8a4e12d26a9" style="width: 100.0%; height: 100.0%;">Camps Bay Beach ,Cape Town <br> <a href=https://www.picuki.com/media/2552924793311875852 > See Post</div>`)[0];
            popup_0013a340e9e040a5be6a3a41c8ebfec2.setContent(html_1db3c5ae80c54d93bf37a8a4e12d26a9);
        

        marker_8a03aeb19b29460fb4ad690423b0c57b.bindPopup(popup_0013a340e9e040a5be6a3a41c8ebfec2)
        ;

        
    
    
            var marker_7e153cab05314c018469d724469a85ed = L.marker(
                [-33.9617001, 18.422761521953632],
                {}
            ).addTo(marker_cluster_baad11e16a9640e0aef638ff9ee00032);
        
    
        var popup_8e8aa2e2d22d4c96b150415a2d1ccfd1 = L.popup({"maxWidth": 400});

        
            var html_9a98ca3a27a0420bbad59be7cb605728 = $(`<div id="html_9a98ca3a27a0420bbad59be7cb605728" style="width: 100.0%; height: 100.0%;">Table Mountain National Park <br> <a href=https://www.picuki.com/media/2555107219152849651 > See Post</div>`)[0];
            popup_8e8aa2e2d22d4c96b150415a2d1ccfd1.setContent(html_9a98ca3a27a0420bbad59be7cb605728);
        

        marker_7e153cab05314c018469d724469a85ed.bindPopup(popup_8e8aa2e2d22d4c96b150415a2d1ccfd1)
        ;

        
    
    
            var marker_b152fc338c1f41aab5872f331f1fb4ee = L.marker(
                [-32.3650375, 19.112815948553493],
                {}
            ).addTo(marker_cluster_baad11e16a9640e0aef638ff9ee00032);
        
    
        var popup_5021592cbb3e48d394ad451f83b37b03 = L.popup({"maxWidth": 400});

        
            var html_0b63cc08e61e44ad910ab64c1bbd8564 = $(`<div id="html_0b63cc08e61e44ad910ab64c1bbd8564" style="width: 100.0%; height: 100.0%;">Cederberg Wilderness Area <br> <a href=https://www.picuki.com/media/2556579435820378016 > See Post</div>`)[0];
            popup_5021592cbb3e48d394ad451f83b37b03.setContent(html_0b63cc08e61e44ad910ab64c1bbd8564);
        

        marker_b152fc338c1f41aab5872f331f1fb4ee.bindPopup(popup_5021592cbb3e48d394ad451f83b37b03)
        ;

        
    
    
            var marker_179c9654f0d149cf8f04586c26407567 = L.marker(
                [-32.5005556, 19.2569444],
                {}
            ).addTo(marker_cluster_baad11e16a9640e0aef638ff9ee00032);
        
    
        var popup_344d524385a041e9b56fc97b63ad9cd0 = L.popup({"maxWidth": 400});

        
            var html_13519f8134a142c0a1cb5c20d153742a = $(`<div id="html_13519f8134a142c0a1cb5c20d153742a" style="width: 100.0%; height: 100.0%;">Cederberg <br> <a href=https://www.picuki.com/media/2558737038579263395 > See Post</div>`)[0];
            popup_344d524385a041e9b56fc97b63ad9cd0.setContent(html_13519f8134a142c0a1cb5c20d153742a);
        

        marker_179c9654f0d149cf8f04586c26407567.bindPopup(popup_344d524385a041e9b56fc97b63ad9cd0)
        ;

        
    
</script>