<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_79543c1fb40542d08923b8e52de33653 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_79543c1fb40542d08923b8e52de33653" ></div>
        
</body>
<script>    
    
            var map_79543c1fb40542d08923b8e52de33653 = L.map(
                "map_79543c1fb40542d08923b8e52de33653",
                {
                    center: [-25.25, 21.2],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_b7e91d1ab0ae42c18ec575a135995e00 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_79543c1fb40542d08923b8e52de33653);
        
    
            var poly_line_8e03a407bee04225b6eb763c827058d7 = L.polyline(
                [[-25.999262, 28.125912], [-28.5175205, 20.069182129926723], [-27.6632248, 17.780115582608694], [-27.6101636, 17.6060746], [-26.6500086, 15.157266], [-24.4910839, 15.8032097], [-22.6767841, 14.5313988], [-20.024574, 13.845733], [-20.437824, 14.605991], [-18.9789515, 15.754024793768757], [-18.1168665, 21.6703559], [-19.994661, 23.418052], [-20.645235, 25.219515], [-19.933916, 24.762499]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_79543c1fb40542d08923b8e52de33653);
        
    
            var marker_cluster_5d95badf3a5941f4bc5cadc4abe5561b = L.markerClusterGroup(
                {}
            );
            map_79543c1fb40542d08923b8e52de33653.addLayer(marker_cluster_5d95badf3a5941f4bc5cadc4abe5561b);
        
    
            var marker_61d03e94c8b94025b131e2b91789ff0e = L.marker(
                [-25.999262, 28.125912],
                {}
            ).addTo(marker_cluster_5d95badf3a5941f4bc5cadc4abe5561b);
        
    
        var popup_77d116efac1f44f9b68c583cc2bb48fb = L.popup({"maxWidth": 400});

        
            var html_5abdf6fb9fab466e9662dd715f34af21 = $(`<div id="html_5abdf6fb9fab466e9662dd715f34af21" style="width: 100.0%; height: 100.0%;">Midrand, Gauteng <br> <a href=https://www.picuki.com/media/2542371069725160604 > See Post</div>`)[0];
            popup_77d116efac1f44f9b68c583cc2bb48fb.setContent(html_5abdf6fb9fab466e9662dd715f34af21);
        

        marker_61d03e94c8b94025b131e2b91789ff0e.bindPopup(popup_77d116efac1f44f9b68c583cc2bb48fb)
        ;

        
    
    
            var marker_a749788ddadd47de8cc292798174e913 = L.marker(
                [-28.5175205, 20.069182129926723],
                {}
            ).addTo(marker_cluster_5d95badf3a5941f4bc5cadc4abe5561b);
        
    
        var popup_0323d2722c96485e851e34670d3f93f9 = L.popup({"maxWidth": 400});

        
            var html_c237a5bb003e4f4d8cc3f52a081644ba = $(`<div id="html_c237a5bb003e4f4d8cc3f52a081644ba" style="width: 100.0%; height: 100.0%;">Augrabies Falls National Park <br> <a href=https://www.picuki.com/media/2546094387794720807 > See Post</div>`)[0];
            popup_0323d2722c96485e851e34670d3f93f9.setContent(html_c237a5bb003e4f4d8cc3f52a081644ba);
        

        marker_a749788ddadd47de8cc292798174e913.bindPopup(popup_0323d2722c96485e851e34670d3f93f9)
        ;

        
    
    
            var marker_551e3f22b7404e2eaa17b9a75014deb5 = L.marker(
                [-27.6632248, 17.780115582608694],
                {}
            ).addTo(marker_cluster_5d95badf3a5941f4bc5cadc4abe5561b);
        
    
        var popup_41c656b6da744484b6d25d8fd96e2096 = L.popup({"maxWidth": 400});

        
            var html_5f70a3b946f148c9b6270437e3a66f85 = $(`<div id="html_5f70a3b946f148c9b6270437e3a66f85" style="width: 100.0%; height: 100.0%;">Gondwana Cañon Lodge <br> <a href=https://www.picuki.com/media/2547179909287833695 > See Post</div>`)[0];
            popup_41c656b6da744484b6d25d8fd96e2096.setContent(html_5f70a3b946f148c9b6270437e3a66f85);
        

        marker_551e3f22b7404e2eaa17b9a75014deb5.bindPopup(popup_41c656b6da744484b6d25d8fd96e2096)
        ;

        
    
    
            var marker_60ae76b338ac439db27ab080aff87ac5 = L.marker(
                [-27.6101636, 17.6060746],
                {}
            ).addTo(marker_cluster_5d95badf3a5941f4bc5cadc4abe5561b);
        
    
        var popup_2fb1e939bfdd4ca5b1477f7ad9e7b706 = L.popup({"maxWidth": 400});

        
            var html_7d63b65aa72c48f7ac4f202b1e4d1f1d = $(`<div id="html_7d63b65aa72c48f7ac4f202b1e4d1f1d" style="width: 100.0%; height: 100.0%;">Fish River Canyon <br> <a href=https://www.picuki.com/media/2548094281115991889 > See Post</div>`)[0];
            popup_2fb1e939bfdd4ca5b1477f7ad9e7b706.setContent(html_7d63b65aa72c48f7ac4f202b1e4d1f1d);
        

        marker_60ae76b338ac439db27ab080aff87ac5.bindPopup(popup_2fb1e939bfdd4ca5b1477f7ad9e7b706)
        ;

        
    
    
            var marker_86714b48dafe4018b2a935d0f973d6e5 = L.marker(
                [-26.6500086, 15.157266],
                {}
            ).addTo(marker_cluster_5d95badf3a5941f4bc5cadc4abe5561b);
        
    
        var popup_7b5c0ff35f5d4647b8bd3b6ad8e2a022 = L.popup({"maxWidth": 400});

        
            var html_ca79235426c044b681c40a70de85f47d = $(`<div id="html_ca79235426c044b681c40a70de85f47d" style="width: 100.0%; height: 100.0%;">Luderitz-NAMIBIA <br> <a href=https://www.picuki.com/media/2548099983087509980 > See Post</div>`)[0];
            popup_7b5c0ff35f5d4647b8bd3b6ad8e2a022.setContent(html_ca79235426c044b681c40a70de85f47d);
        

        marker_86714b48dafe4018b2a935d0f973d6e5.bindPopup(popup_7b5c0ff35f5d4647b8bd3b6ad8e2a022)
        ;

        
    
    
            var marker_72418ab489d74d05896a1c69146f2091 = L.marker(
                [-24.4910839, 15.8032097],
                {}
            ).addTo(marker_cluster_5d95badf3a5941f4bc5cadc4abe5561b);
        
    
        var popup_67ef7cba0adb461e9a724a76786ddcba = L.popup({"maxWidth": 400});

        
            var html_bef1b24150d74cca80223bab07a6d795 = $(`<div id="html_bef1b24150d74cca80223bab07a6d795" style="width: 100.0%; height: 100.0%;">Sossus Oasis Camp Site,  Namibia <br> <a href=https://www.picuki.com/media/2548828040106835182 > See Post</div>`)[0];
            popup_67ef7cba0adb461e9a724a76786ddcba.setContent(html_bef1b24150d74cca80223bab07a6d795);
        

        marker_72418ab489d74d05896a1c69146f2091.bindPopup(popup_67ef7cba0adb461e9a724a76786ddcba)
        ;

        
    
    
            var marker_69670c428d98438db618fcc4980613c8 = L.marker(
                [-22.6767841, 14.5313988],
                {}
            ).addTo(marker_cluster_5d95badf3a5941f4bc5cadc4abe5561b);
        
    
        var popup_37a7f08027ab4b73a067068fc84b5cf8 = L.popup({"maxWidth": 400});

        
            var html_42288b29490f42b88190d70058169d50 = $(`<div id="html_42288b29490f42b88190d70058169d50" style="width: 100.0%; height: 100.0%;">Swakopmund, Namibia <br> <a href=https://www.picuki.com/media/2551861944002688643 > See Post</div>`)[0];
            popup_37a7f08027ab4b73a067068fc84b5cf8.setContent(html_42288b29490f42b88190d70058169d50);
        

        marker_69670c428d98438db618fcc4980613c8.bindPopup(popup_37a7f08027ab4b73a067068fc84b5cf8)
        ;

        
    
    
            var marker_0dab316ba28e4a93adf6fde884cb93c7 = L.marker(
                [-20.024574, 13.845733],
                {}
            ).addTo(marker_cluster_5d95badf3a5941f4bc5cadc4abe5561b);
        
    
        var popup_514cac245c1b4f88aecff1bdc0b67a8b = L.popup({"maxWidth": 400});

        
            var html_38ce7228621b4433b05d38a6ec62b439 = $(`<div id="html_38ce7228621b4433b05d38a6ec62b439" style="width: 100.0%; height: 100.0%;">Desert Rhino Camp <br> <a href=https://www.picuki.com/media/2554613309422540625 > See Post</div>`)[0];
            popup_514cac245c1b4f88aecff1bdc0b67a8b.setContent(html_38ce7228621b4433b05d38a6ec62b439);
        

        marker_0dab316ba28e4a93adf6fde884cb93c7.bindPopup(popup_514cac245c1b4f88aecff1bdc0b67a8b)
        ;

        
    
    
            var marker_ede9f65c7fb348998b2813b1c5ea54a8 = L.marker(
                [-20.437824, 14.605991],
                {}
            ).addTo(marker_cluster_5d95badf3a5941f4bc5cadc4abe5561b);
        
    
        var popup_e0cf2b31d0024b0d99ee8743d6cc1e35 = L.popup({"maxWidth": 400});

        
            var html_2abb24ffe01e45a8a279814a7e97181f = $(`<div id="html_2abb24ffe01e45a8a279814a7e97181f" style="width: 100.0%; height: 100.0%;">Petrified Forest National Heritage Site <br> <a href=https://www.picuki.com/media/2554635608473270637 > See Post</div>`)[0];
            popup_e0cf2b31d0024b0d99ee8743d6cc1e35.setContent(html_2abb24ffe01e45a8a279814a7e97181f);
        

        marker_ede9f65c7fb348998b2813b1c5ea54a8.bindPopup(popup_e0cf2b31d0024b0d99ee8743d6cc1e35)
        ;

        
    
    
            var marker_7994ad0fcf63403cbff12adbb0977587 = L.marker(
                [-18.9789515, 15.754024793768757],
                {}
            ).addTo(marker_cluster_5d95badf3a5941f4bc5cadc4abe5561b);
        
    
        var popup_5cc7e628b0d24a048027879b2b84c228 = L.popup({"maxWidth": 400});

        
            var html_4dd29e2bfce24c61b2109ed554c16ad4 = $(`<div id="html_4dd29e2bfce24c61b2109ed554c16ad4" style="width: 100.0%; height: 100.0%;">Etosha National Park <br> <a href=https://www.picuki.com/media/2555960633641984623 > See Post</div>`)[0];
            popup_5cc7e628b0d24a048027879b2b84c228.setContent(html_4dd29e2bfce24c61b2109ed554c16ad4);
        

        marker_7994ad0fcf63403cbff12adbb0977587.bindPopup(popup_5cc7e628b0d24a048027879b2b84c228)
        ;

        
    
    
            var marker_5f940e9b3ca2483baf583222e0524ea3 = L.marker(
                [-18.1168665, 21.6703559],
                {}
            ).addTo(marker_cluster_5d95badf3a5941f4bc5cadc4abe5561b);
        
    
        var popup_5dc321bae0a649509b52a1efefcc49d7 = L.popup({"maxWidth": 400});

        
            var html_58cb35f241724d0fbaf4b1ea3d62e704 = $(`<div id="html_58cb35f241724d0fbaf4b1ea3d62e704" style="width: 100.0%; height: 100.0%;">Ngepi Camp <br> <a href=https://www.picuki.com/media/2558806985560367315 > See Post</div>`)[0];
            popup_5dc321bae0a649509b52a1efefcc49d7.setContent(html_58cb35f241724d0fbaf4b1ea3d62e704);
        

        marker_5f940e9b3ca2483baf583222e0524ea3.bindPopup(popup_5dc321bae0a649509b52a1efefcc49d7)
        ;

        
    
    
            var marker_b84b348103ff4a468a9d8ca2b3e3ac02 = L.marker(
                [-19.994661, 23.418052],
                {}
            ).addTo(marker_cluster_5d95badf3a5941f4bc5cadc4abe5561b);
        
    
        var popup_39ac89db636b454aadddc6b9686df09d = L.popup({"maxWidth": 400});

        
            var html_fff5c2df27a94dacae2c0f10068398ce = $(`<div id="html_fff5c2df27a94dacae2c0f10068398ce" style="width: 100.0%; height: 100.0%;">Maun <br> <a href=https://www.picuki.com/media/2562444350086601373 > See Post</div>`)[0];
            popup_39ac89db636b454aadddc6b9686df09d.setContent(html_fff5c2df27a94dacae2c0f10068398ce);
        

        marker_b84b348103ff4a468a9d8ca2b3e3ac02.bindPopup(popup_39ac89db636b454aadddc6b9686df09d)
        ;

        
    
    
            var marker_e11fb8e8e59c4bfc8e554a02ce930406 = L.marker(
                [-20.645235, 25.219515],
                {}
            ).addTo(marker_cluster_5d95badf3a5941f4bc5cadc4abe5561b);
        
    
        var popup_6e2c3c95143b4aa29fb714a1c3b4c04b = L.popup({"maxWidth": 400});

        
            var html_3f20aa8358e643ffa80f7f17c8564eb3 = $(`<div id="html_3f20aa8358e643ffa80f7f17c8564eb3" style="width: 100.0%; height: 100.0%;">Nwetwe Pan <br> <a href=https://www.picuki.com/media/2562532050349301831 > See Post</div>`)[0];
            popup_6e2c3c95143b4aa29fb714a1c3b4c04b.setContent(html_3f20aa8358e643ffa80f7f17c8564eb3);
        

        marker_e11fb8e8e59c4bfc8e554a02ce930406.bindPopup(popup_6e2c3c95143b4aa29fb714a1c3b4c04b)
        ;

        
    
    
            var marker_992bfaa21e424ce6811d04832816bddd = L.marker(
                [-19.933916, 24.762499],
                {}
            ).addTo(marker_cluster_5d95badf3a5941f4bc5cadc4abe5561b);
        
    
        var popup_981b205c3c9b4ac5946894ef0b42907c = L.popup({"maxWidth": 400});

        
            var html_2350ace77e154a7ab3f818e5e04da65a = $(`<div id="html_2350ace77e154a7ab3f818e5e04da65a" style="width: 100.0%; height: 100.0%;">Nxai Pan <br> <a href=https://www.picuki.com/media/2562555411750134867 > See Post</div>`)[0];
            popup_981b205c3c9b4ac5946894ef0b42907c.setContent(html_2350ace77e154a7ab3f818e5e04da65a);
        

        marker_992bfaa21e424ce6811d04832816bddd.bindPopup(popup_981b205c3c9b4ac5946894ef0b42907c)
        ;

        
    
</script>