<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cb4daf5b356b42d6b587a23411b2517a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_cb4daf5b356b42d6b587a23411b2517a" ></div>
        
</body>
<script>    
    
            var map_cb4daf5b356b42d6b587a23411b2517a = L.map(
                "map_cb4daf5b356b42d6b587a23411b2517a",
                {
                    center: [38.5, -2.75],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ac7dda745d0f474eaa2b8c037ea57a9d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_cb4daf5b356b42d6b587a23411b2517a);
        
    
            var poly_line_e39c9a2d41444493b87fadd34d4bcae6 = L.polyline(
                [[36.9089333, -4.7599708], [37.118565, -2.5395634], [37.4795311, -3.0432324], [39.3260685, -4.8379791], [39.2299883, -1.0619387], [40.0223607, -0.2785144], [40.6005259, -0.9229281754890264]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_cb4daf5b356b42d6b587a23411b2517a);
        
    
            var marker_cluster_a09b9d38d9f4416bbb54f070d2da5583 = L.markerClusterGroup(
                {}
            );
            map_cb4daf5b356b42d6b587a23411b2517a.addLayer(marker_cluster_a09b9d38d9f4416bbb54f070d2da5583);
        
    
            var marker_d42710dbf1994ab1a6836a72cdd1fff8 = L.marker(
                [36.9089333, -4.7599708],
                {}
            ).addTo(marker_cluster_a09b9d38d9f4416bbb54f070d2da5583);
        
    
        var popup_b26df420ea8949ccad07c37969548971 = L.popup({"maxWidth": 400});

        
            var html_7236f537483846c8968082df7c955d9d = $(`<div id="html_7236f537483846c8968082df7c955d9d" style="width: 100.0%; height: 100.0%;">El Chorro, Andalucia, Spain <br> <a href=https://www.picuki.com/media/2543694288432159765 > See Post</div>`)[0];
            popup_b26df420ea8949ccad07c37969548971.setContent(html_7236f537483846c8968082df7c955d9d);
        

        marker_d42710dbf1994ab1a6836a72cdd1fff8.bindPopup(popup_b26df420ea8949ccad07c37969548971)
        ;

        
    
    
            var marker_2ecb72b2fda146238cc15a02ea1f95de = L.marker(
                [37.118565, -2.5395634],
                {}
            ).addTo(marker_cluster_a09b9d38d9f4416bbb54f070d2da5583);
        
    
        var popup_8c9ac85af42d472ea145d56b47b8c013 = L.popup({"maxWidth": 400});

        
            var html_ca9919dee82b4d8980eb865eceb7a4f6 = $(`<div id="html_ca9919dee82b4d8980eb865eceb7a4f6" style="width: 100.0%; height: 100.0%;">Gérgal, Spain <br> <a href=https://www.picuki.com/media/2546478718095942472 > See Post</div>`)[0];
            popup_8c9ac85af42d472ea145d56b47b8c013.setContent(html_ca9919dee82b4d8980eb865eceb7a4f6);
        

        marker_2ecb72b2fda146238cc15a02ea1f95de.bindPopup(popup_8c9ac85af42d472ea145d56b47b8c013)
        ;

        
    
    
            var marker_9bf5f3ccc9084146b47d2a69af5ff5dc = L.marker(
                [37.4795311, -3.0432324],
                {}
            ).addTo(marker_cluster_a09b9d38d9f4416bbb54f070d2da5583);
        
    
        var popup_4593fa45466740ba898a6ff9744ca2c8 = L.popup({"maxWidth": 400});

        
            var html_d75d0a9f55d7401f95935c52df87c5bc = $(`<div id="html_d75d0a9f55d7401f95935c52df87c5bc" style="width: 100.0%; height: 100.0%;">Gorafe, Andalucia, Spain <br> <a href=https://www.picuki.com/media/2550183163400897538 > See Post</div>`)[0];
            popup_4593fa45466740ba898a6ff9744ca2c8.setContent(html_d75d0a9f55d7401f95935c52df87c5bc);
        

        marker_9bf5f3ccc9084146b47d2a69af5ff5dc.bindPopup(popup_4593fa45466740ba898a6ff9744ca2c8)
        ;

        
    
    
            var marker_4fd77d48089a439097fa1dcbb4a6d8e2 = L.marker(
                [39.3260685, -4.8379791],
                {}
            ).addTo(marker_cluster_a09b9d38d9f4416bbb54f070d2da5583);
        
    
        var popup_c22f33fc4b1f4c32abeb5d4cafbea375 = L.popup({"maxWidth": 400});

        
            var html_207f2c3ddf234d83a4d5b154d0d4c5dc = $(`<div id="html_207f2c3ddf234d83a4d5b154d0d4c5dc" style="width: 100.0%; height: 100.0%;">Spain <br> <a href=https://www.picuki.com/media/2552502234666722309 > See Post</div>`)[0];
            popup_c22f33fc4b1f4c32abeb5d4cafbea375.setContent(html_207f2c3ddf234d83a4d5b154d0d4c5dc);
        

        marker_4fd77d48089a439097fa1dcbb4a6d8e2.bindPopup(popup_c22f33fc4b1f4c32abeb5d4cafbea375)
        ;

        
    
    
            var marker_b9550cd663864565be66df7dfc22712b = L.marker(
                [39.2299883, -1.0619387],
                {}
            ).addTo(marker_cluster_a09b9d38d9f4416bbb54f070d2da5583);
        
    
        var popup_463c7feb136e4661a844f66ec0b8d387 = L.popup({"maxWidth": 400});

        
            var html_130fe3ad1fab4c5db681023d28be1318 = $(`<div id="html_130fe3ad1fab4c5db681023d28be1318" style="width: 100.0%; height: 100.0%;">Cofrentes <br> <a href=https://www.picuki.com/media/2558151762270796900 > See Post</div>`)[0];
            popup_463c7feb136e4661a844f66ec0b8d387.setContent(html_130fe3ad1fab4c5db681023d28be1318);
        

        marker_b9550cd663864565be66df7dfc22712b.bindPopup(popup_463c7feb136e4661a844f66ec0b8d387)
        ;

        
    
    
            var marker_342c3849a22b4ccda8d163a2158eca77 = L.marker(
                [40.0223607, -0.2785144],
                {}
            ).addTo(marker_cluster_a09b9d38d9f4416bbb54f070d2da5583);
        
    
        var popup_c27bc5e0fcbf4ba8aad4271e450cde45 = L.popup({"maxWidth": 400});

        
            var html_ca616edadfb54ad4bc603ca74e5997c6 = $(`<div id="html_ca616edadfb54ad4bc603ca74e5997c6" style="width: 100.0%; height: 100.0%;">Ribesalbes, Valenciana, Spain <br> <a href=https://www.picuki.com/media/2558174661753126628 > See Post</div>`)[0];
            popup_c27bc5e0fcbf4ba8aad4271e450cde45.setContent(html_ca616edadfb54ad4bc603ca74e5997c6);
        

        marker_342c3849a22b4ccda8d163a2158eca77.bindPopup(popup_c27bc5e0fcbf4ba8aad4271e450cde45)
        ;

        
    
    
            var marker_40af67c8c334459a94f085dcda3ffb34 = L.marker(
                [40.6005259, -0.9229281754890264],
                {}
            ).addTo(marker_cluster_a09b9d38d9f4416bbb54f070d2da5583);
        
    
        var popup_4671452d1667425a813542cf53779373 = L.popup({"maxWidth": 400});

        
            var html_622d0c4c70d043c9b9307ee09dad1f09 = $(`<div id="html_622d0c4c70d043c9b9307ee09dad1f09" style="width: 100.0%; height: 100.0%;">Teruel <br> <a href=https://www.picuki.com/media/2559833136488901421 > See Post</div>`)[0];
            popup_4671452d1667425a813542cf53779373.setContent(html_622d0c4c70d043c9b9307ee09dad1f09);
        

        marker_40af67c8c334459a94f085dcda3ffb34.bindPopup(popup_4671452d1667425a813542cf53779373)
        ;

        
    
</script>