<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5fed1ea8220c438ba9e1d40133c0bb41 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_5fed1ea8220c438ba9e1d40133c0bb41" ></div>
        
</body>
<script>    
    
            var map_5fed1ea8220c438ba9e1d40133c0bb41 = L.map(
                "map_5fed1ea8220c438ba9e1d40133c0bb41",
                {
                    center: [-25.25, 21.2],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a588c269b59244afa26821eef69d10c2 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5fed1ea8220c438ba9e1d40133c0bb41);
        
    
            var poly_line_275d1f54844d41e0be940077a8444000 = L.polyline(
                [[-25.999262, 28.125912], [-28.5175205, 20.069182129926723], [-27.6632248, 17.780115582608694], [-27.6101636, 17.6060746], [-26.6500086, 15.157266], [-24.4910839, 15.8032097], [-22.6767841, 14.5313988], [-20.024574, 13.845733], [-20.437824, 14.605991], [-18.9789515, 15.754024793768757], [-18.1168665, 21.6703559], [-19.994661, 23.418052], [-20.645235, 25.219515], [-19.933916, 24.762499], [-19.277967, 23.360355]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_5fed1ea8220c438ba9e1d40133c0bb41);
        
    
            var marker_cluster_2ab5d4365f8b4ca392fe9ac4e65207d8 = L.markerClusterGroup(
                {}
            );
            map_5fed1ea8220c438ba9e1d40133c0bb41.addLayer(marker_cluster_2ab5d4365f8b4ca392fe9ac4e65207d8);
        
    
            var marker_cd9d5f9f9ee14779b00441f6809d3760 = L.marker(
                [-25.999262, 28.125912],
                {}
            ).addTo(marker_cluster_2ab5d4365f8b4ca392fe9ac4e65207d8);
        
    
        var popup_6a83dc45e1234ba29398838693512215 = L.popup({"maxWidth": 400});

        
            var html_5ebea7a1692f478ca26336ed66ec78cf = $(`<div id="html_5ebea7a1692f478ca26336ed66ec78cf" style="width: 100.0%; height: 100.0%;">Midrand, Gauteng <br> <a href=https://www.picuki.com/media/2542371069725160604 > See Post</div>`)[0];
            popup_6a83dc45e1234ba29398838693512215.setContent(html_5ebea7a1692f478ca26336ed66ec78cf);
        

        marker_cd9d5f9f9ee14779b00441f6809d3760.bindPopup(popup_6a83dc45e1234ba29398838693512215)
        ;

        
    
    
            var marker_a2e657026bdb4f81981684a76d784bad = L.marker(
                [-28.5175205, 20.069182129926723],
                {}
            ).addTo(marker_cluster_2ab5d4365f8b4ca392fe9ac4e65207d8);
        
    
        var popup_ca921518414f4d0f80f5d73db3cc06cf = L.popup({"maxWidth": 400});

        
            var html_72a1082dd4c94e849893fb229ed9db44 = $(`<div id="html_72a1082dd4c94e849893fb229ed9db44" style="width: 100.0%; height: 100.0%;">Augrabies Falls National Park <br> <a href=https://www.picuki.com/media/2546094387794720807 > See Post</div>`)[0];
            popup_ca921518414f4d0f80f5d73db3cc06cf.setContent(html_72a1082dd4c94e849893fb229ed9db44);
        

        marker_a2e657026bdb4f81981684a76d784bad.bindPopup(popup_ca921518414f4d0f80f5d73db3cc06cf)
        ;

        
    
    
            var marker_43e106ac731441868d50aec6117aed0f = L.marker(
                [-27.6632248, 17.780115582608694],
                {}
            ).addTo(marker_cluster_2ab5d4365f8b4ca392fe9ac4e65207d8);
        
    
        var popup_638974aa31b8460ba3c14352f370ab63 = L.popup({"maxWidth": 400});

        
            var html_bfc40b3dfd4e4aa4a9c01f0625c11eab = $(`<div id="html_bfc40b3dfd4e4aa4a9c01f0625c11eab" style="width: 100.0%; height: 100.0%;">Gondwana Cañon Lodge <br> <a href=https://www.picuki.com/media/2547179909287833695 > See Post</div>`)[0];
            popup_638974aa31b8460ba3c14352f370ab63.setContent(html_bfc40b3dfd4e4aa4a9c01f0625c11eab);
        

        marker_43e106ac731441868d50aec6117aed0f.bindPopup(popup_638974aa31b8460ba3c14352f370ab63)
        ;

        
    
    
            var marker_286e7af0cd8846768fcd917e2116f2c4 = L.marker(
                [-27.6101636, 17.6060746],
                {}
            ).addTo(marker_cluster_2ab5d4365f8b4ca392fe9ac4e65207d8);
        
    
        var popup_017a5bd060e7470f8209855bc81b1361 = L.popup({"maxWidth": 400});

        
            var html_442cccd43c324a88b034b6195692d1fe = $(`<div id="html_442cccd43c324a88b034b6195692d1fe" style="width: 100.0%; height: 100.0%;">Fish River Canyon <br> <a href=https://www.picuki.com/media/2548094281115991889 > See Post</div>`)[0];
            popup_017a5bd060e7470f8209855bc81b1361.setContent(html_442cccd43c324a88b034b6195692d1fe);
        

        marker_286e7af0cd8846768fcd917e2116f2c4.bindPopup(popup_017a5bd060e7470f8209855bc81b1361)
        ;

        
    
    
            var marker_2494a159ce1a475f88f57e300fa71c1b = L.marker(
                [-26.6500086, 15.157266],
                {}
            ).addTo(marker_cluster_2ab5d4365f8b4ca392fe9ac4e65207d8);
        
    
        var popup_d87a3695f81e47ffa3a6f92631e1a502 = L.popup({"maxWidth": 400});

        
            var html_77c0b509716a4e739116006d5c09bf04 = $(`<div id="html_77c0b509716a4e739116006d5c09bf04" style="width: 100.0%; height: 100.0%;">Luderitz-NAMIBIA <br> <a href=https://www.picuki.com/media/2548099983087509980 > See Post</div>`)[0];
            popup_d87a3695f81e47ffa3a6f92631e1a502.setContent(html_77c0b509716a4e739116006d5c09bf04);
        

        marker_2494a159ce1a475f88f57e300fa71c1b.bindPopup(popup_d87a3695f81e47ffa3a6f92631e1a502)
        ;

        
    
    
            var marker_9c5e03df3b544716b323c99be6489c4f = L.marker(
                [-24.4910839, 15.8032097],
                {}
            ).addTo(marker_cluster_2ab5d4365f8b4ca392fe9ac4e65207d8);
        
    
        var popup_e00930786fe5444d803fb50eb22d81ba = L.popup({"maxWidth": 400});

        
            var html_9a0e083f4fd4403db19dcab1d844a29c = $(`<div id="html_9a0e083f4fd4403db19dcab1d844a29c" style="width: 100.0%; height: 100.0%;">Sossus Oasis Camp Site,  Namibia <br> <a href=https://www.picuki.com/media/2548828040106835182 > See Post</div>`)[0];
            popup_e00930786fe5444d803fb50eb22d81ba.setContent(html_9a0e083f4fd4403db19dcab1d844a29c);
        

        marker_9c5e03df3b544716b323c99be6489c4f.bindPopup(popup_e00930786fe5444d803fb50eb22d81ba)
        ;

        
    
    
            var marker_4675af98ba0a4bbb9582b6fff51d5f3a = L.marker(
                [-22.6767841, 14.5313988],
                {}
            ).addTo(marker_cluster_2ab5d4365f8b4ca392fe9ac4e65207d8);
        
    
        var popup_049c1a5048aa48fd9738ef138f49c54e = L.popup({"maxWidth": 400});

        
            var html_57f913fbad484ac5b92a32b7a9488a10 = $(`<div id="html_57f913fbad484ac5b92a32b7a9488a10" style="width: 100.0%; height: 100.0%;">Swakopmund, Namibia <br> <a href=https://www.picuki.com/media/2551861944002688643 > See Post</div>`)[0];
            popup_049c1a5048aa48fd9738ef138f49c54e.setContent(html_57f913fbad484ac5b92a32b7a9488a10);
        

        marker_4675af98ba0a4bbb9582b6fff51d5f3a.bindPopup(popup_049c1a5048aa48fd9738ef138f49c54e)
        ;

        
    
    
            var marker_cadee10144a749dc8ea9650d21dbfddd = L.marker(
                [-20.024574, 13.845733],
                {}
            ).addTo(marker_cluster_2ab5d4365f8b4ca392fe9ac4e65207d8);
        
    
        var popup_8e14c02dbcde492aac3265d110971262 = L.popup({"maxWidth": 400});

        
            var html_16587d5bd08d4c9791344efa00c3ca1b = $(`<div id="html_16587d5bd08d4c9791344efa00c3ca1b" style="width: 100.0%; height: 100.0%;">Desert Rhino Camp <br> <a href=https://www.picuki.com/media/2554613309422540625 > See Post</div>`)[0];
            popup_8e14c02dbcde492aac3265d110971262.setContent(html_16587d5bd08d4c9791344efa00c3ca1b);
        

        marker_cadee10144a749dc8ea9650d21dbfddd.bindPopup(popup_8e14c02dbcde492aac3265d110971262)
        ;

        
    
    
            var marker_bdccb2869e9841b5869640487099a863 = L.marker(
                [-20.437824, 14.605991],
                {}
            ).addTo(marker_cluster_2ab5d4365f8b4ca392fe9ac4e65207d8);
        
    
        var popup_84ad8f3c1d804428af47a2ba2af4e95b = L.popup({"maxWidth": 400});

        
            var html_e9c3bb6d36874055ada0a30fe4aa832d = $(`<div id="html_e9c3bb6d36874055ada0a30fe4aa832d" style="width: 100.0%; height: 100.0%;">Petrified Forest National Heritage Site <br> <a href=https://www.picuki.com/media/2554635608473270637 > See Post</div>`)[0];
            popup_84ad8f3c1d804428af47a2ba2af4e95b.setContent(html_e9c3bb6d36874055ada0a30fe4aa832d);
        

        marker_bdccb2869e9841b5869640487099a863.bindPopup(popup_84ad8f3c1d804428af47a2ba2af4e95b)
        ;

        
    
    
            var marker_2e4c60e0e38146d2a0491498a27f4c05 = L.marker(
                [-18.9789515, 15.754024793768757],
                {}
            ).addTo(marker_cluster_2ab5d4365f8b4ca392fe9ac4e65207d8);
        
    
        var popup_6eb19a77ba654faa9dd6419d48d6499e = L.popup({"maxWidth": 400});

        
            var html_d2bf26e8d9c148409496b783d86e5063 = $(`<div id="html_d2bf26e8d9c148409496b783d86e5063" style="width: 100.0%; height: 100.0%;">Etosha National Park <br> <a href=https://www.picuki.com/media/2555960633641984623 > See Post</div>`)[0];
            popup_6eb19a77ba654faa9dd6419d48d6499e.setContent(html_d2bf26e8d9c148409496b783d86e5063);
        

        marker_2e4c60e0e38146d2a0491498a27f4c05.bindPopup(popup_6eb19a77ba654faa9dd6419d48d6499e)
        ;

        
    
    
            var marker_7f57da2a163747c49bd11a77ead69b84 = L.marker(
                [-18.1168665, 21.6703559],
                {}
            ).addTo(marker_cluster_2ab5d4365f8b4ca392fe9ac4e65207d8);
        
    
        var popup_072296a6badd499fac9618a7554698dd = L.popup({"maxWidth": 400});

        
            var html_be8c075d13ee40a097cfa8fa6ffba6ff = $(`<div id="html_be8c075d13ee40a097cfa8fa6ffba6ff" style="width: 100.0%; height: 100.0%;">Ngepi Camp <br> <a href=https://www.picuki.com/media/2558806985560367315 > See Post</div>`)[0];
            popup_072296a6badd499fac9618a7554698dd.setContent(html_be8c075d13ee40a097cfa8fa6ffba6ff);
        

        marker_7f57da2a163747c49bd11a77ead69b84.bindPopup(popup_072296a6badd499fac9618a7554698dd)
        ;

        
    
    
            var marker_d25d0256b8284ce29a10655a4bc3dc16 = L.marker(
                [-19.994661, 23.418052],
                {}
            ).addTo(marker_cluster_2ab5d4365f8b4ca392fe9ac4e65207d8);
        
    
        var popup_1d988fb593bd41338bb4aafc71a46310 = L.popup({"maxWidth": 400});

        
            var html_ff54dc6fd28546b3a2f774dfcc2681bc = $(`<div id="html_ff54dc6fd28546b3a2f774dfcc2681bc" style="width: 100.0%; height: 100.0%;">Maun <br> <a href=https://www.picuki.com/media/2562444350086601373 > See Post</div>`)[0];
            popup_1d988fb593bd41338bb4aafc71a46310.setContent(html_ff54dc6fd28546b3a2f774dfcc2681bc);
        

        marker_d25d0256b8284ce29a10655a4bc3dc16.bindPopup(popup_1d988fb593bd41338bb4aafc71a46310)
        ;

        
    
    
            var marker_618ccbaa928d41f180b76e898229fd38 = L.marker(
                [-20.645235, 25.219515],
                {}
            ).addTo(marker_cluster_2ab5d4365f8b4ca392fe9ac4e65207d8);
        
    
        var popup_a5de1923843a472eb501bfadc3768479 = L.popup({"maxWidth": 400});

        
            var html_ad28c3ec4fcd43fb977a579c53faf271 = $(`<div id="html_ad28c3ec4fcd43fb977a579c53faf271" style="width: 100.0%; height: 100.0%;">Ntwetwe Pan <br> <a href=https://www.picuki.com/media/2562532050349301831 > See Post</div>`)[0];
            popup_a5de1923843a472eb501bfadc3768479.setContent(html_ad28c3ec4fcd43fb977a579c53faf271);
        

        marker_618ccbaa928d41f180b76e898229fd38.bindPopup(popup_a5de1923843a472eb501bfadc3768479)
        ;

        
    
    
            var marker_d77b42e94c3846e2bc4ad67d36dd6925 = L.marker(
                [-19.933916, 24.762499],
                {}
            ).addTo(marker_cluster_2ab5d4365f8b4ca392fe9ac4e65207d8);
        
    
        var popup_9f6eb0bdfa8f4901a367f9f13cb8f561 = L.popup({"maxWidth": 400});

        
            var html_a45f000afbfa4124b3b67b51a7d4e18c = $(`<div id="html_a45f000afbfa4124b3b67b51a7d4e18c" style="width: 100.0%; height: 100.0%;">Nxai Pan <br> <a href=https://www.picuki.com/media/2562555411750134867 > See Post</div>`)[0];
            popup_9f6eb0bdfa8f4901a367f9f13cb8f561.setContent(html_a45f000afbfa4124b3b67b51a7d4e18c);
        

        marker_d77b42e94c3846e2bc4ad67d36dd6925.bindPopup(popup_9f6eb0bdfa8f4901a367f9f13cb8f561)
        ;

        
    
    
            var marker_8977be8196774c18b949ac07ef646e47 = L.marker(
                [-19.277967, 23.360355],
                {}
            ).addTo(marker_cluster_2ab5d4365f8b4ca392fe9ac4e65207d8);
        
    
        var popup_2eed723973444e8695ceeb2547bed2c7 = L.popup({"maxWidth": 400});

        
            var html_a38d94a284a042fbbc171b472157321e = $(`<div id="html_a38d94a284a042fbbc171b472157321e" style="width: 100.0%; height: 100.0%;">Moremi Game Reserve <br> <a href=https://www.picuki.com/media/2565449776537420939 > See Post</div>`)[0];
            popup_2eed723973444e8695ceeb2547bed2c7.setContent(html_a38d94a284a042fbbc171b472157321e);
        

        marker_8977be8196774c18b949ac07ef646e47.bindPopup(popup_2eed723973444e8695ceeb2547bed2c7)
        ;

        
    
</script>