<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e9af58054f9f40bfb4cbb79f619ad0fb {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_e9af58054f9f40bfb4cbb79f619ad0fb" ></div>
        
</body>
<script>    
    
            var map_e9af58054f9f40bfb4cbb79f619ad0fb = L.map(
                "map_e9af58054f9f40bfb4cbb79f619ad0fb",
                {
                    center: [52.35, 5.3],
                    crs: L.CRS.EPSG3857,
                    zoom: 9,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_369495ca2a8a4062a16581cfabf2f2c2 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e9af58054f9f40bfb4cbb79f619ad0fb);
        
    
            var marker_cluster_2cfc0921fbe24c21ad470e87c3c954dc = L.markerClusterGroup(
                {}
            );
            map_e9af58054f9f40bfb4cbb79f619ad0fb.addLayer(marker_cluster_2cfc0921fbe24c21ad470e87c3c954dc);
        
    
            var marker_d6b571add193405aa450238bb998d892 = L.marker(
                [17.2960426, -62.7241092],
                {}
            ).addTo(marker_cluster_2cfc0921fbe24c21ad470e87c3c954dc);
        
    
        var popup_8780f6012bc14f81ac50b260c66e8382 = L.popup({"maxWidth": 400});

        
            var html_c6c5f2b0c951415b8e3a0b859dd45e71 = $(`<div id="html_c6c5f2b0c951415b8e3a0b859dd45e71" style="width: 100.0%; height: 100.0%;">Travel The World <br> <a href=https://www.picuki.com/media/2364706437060842883 > See Post</div>`)[0];
            popup_8780f6012bc14f81ac50b260c66e8382.setContent(html_c6c5f2b0c951415b8e3a0b859dd45e71);
        

        marker_d6b571add193405aa450238bb998d892.bindPopup(popup_8780f6012bc14f81ac50b260c66e8382)
        ;

        
    
    
            var marker_3f9f6030293c44ff98c92e701b554958 = L.marker(
                [52.3578866, 4.867116659586616],
                {}
            ).addTo(marker_cluster_2cfc0921fbe24c21ad470e87c3c954dc);
        
    
        var popup_ee8785dd872145c0a545ce4075b98419 = L.popup({"maxWidth": 400});

        
            var html_b6fd7f1c8fd34b30870def5761d26220 = $(`<div id="html_b6fd7f1c8fd34b30870def5761d26220" style="width: 100.0%; height: 100.0%;">Vondelpark, Amsterdam <br> <a href=https://www.picuki.com/media/2370365663556844327 > See Post</div>`)[0];
            popup_ee8785dd872145c0a545ce4075b98419.setContent(html_b6fd7f1c8fd34b30870def5761d26220);
        

        marker_3f9f6030293c44ff98c92e701b554958.bindPopup(popup_ee8785dd872145c0a545ce4075b98419)
        ;

        
    
    
            var marker_8b6d5372ed844f19a0ae6f2566b3fefd = L.marker(
                [52.080985600000005, 5.12768396945229],
                {}
            ).addTo(marker_cluster_2cfc0921fbe24c21ad470e87c3c954dc);
        
    
        var popup_73d5dba2942a4fd58779fc01e3a4484d = L.popup({"maxWidth": 400});

        
            var html_cfb46d406e194944974f62c0428c35d7 = $(`<div id="html_cfb46d406e194944974f62c0428c35d7" style="width: 100.0%; height: 100.0%;">Utrecht, Netherlands <br> <a href=https://www.picuki.com/media/2384227489897858797 > See Post</div>`)[0];
            popup_73d5dba2942a4fd58779fc01e3a4484d.setContent(html_cfb46d406e194944974f62c0428c35d7);
        

        marker_8b6d5372ed844f19a0ae6f2566b3fefd.bindPopup(popup_73d5dba2942a4fd58779fc01e3a4484d)
        ;

        
    
    
            var marker_c2cf92bbd29a4db0a9a28213af70cf2f = L.marker(
                [52.3727598, 4.8936041],
                {}
            ).addTo(marker_cluster_2cfc0921fbe24c21ad470e87c3c954dc);
        
    
        var popup_e6927178cb974aab9360e1ba3add9674 = L.popup({"maxWidth": 400});

        
            var html_8b55a572fc09446f9d4c11b6fd595407 = $(`<div id="html_8b55a572fc09446f9d4c11b6fd595407" style="width: 100.0%; height: 100.0%;">Amsterdam, Netherlands <br> <a href=https://www.picuki.com/media/2469807089746669629 > See Post</div>`)[0];
            popup_e6927178cb974aab9360e1ba3add9674.setContent(html_8b55a572fc09446f9d4c11b6fd595407);
        

        marker_c2cf92bbd29a4db0a9a28213af70cf2f.bindPopup(popup_e6927178cb974aab9360e1ba3add9674)
        ;

        
    
    
            var marker_6b68c37fe16341efab52269fc17368b3 = L.marker(
                [52.5001698, 5.7480821],
                {}
            ).addTo(marker_cluster_2cfc0921fbe24c21ad470e87c3c954dc);
        
    
        var popup_196493071e89402ba2f71cd5d292a203 = L.popup({"maxWidth": 400});

        
            var html_d28998b860624fa08c548a8a50169c6e = $(`<div id="html_d28998b860624fa08c548a8a50169c6e" style="width: 100.0%; height: 100.0%;">Netherlands <br> <a href=https://www.picuki.com/media/2471323554257792426 > See Post</div>`)[0];
            popup_196493071e89402ba2f71cd5d292a203.setContent(html_d28998b860624fa08c548a8a50169c6e);
        

        marker_6b68c37fe16341efab52269fc17368b3.bindPopup(popup_196493071e89402ba2f71cd5d292a203)
        ;

        
    
    
            var marker_fcfc2e4bd80f45f69eaa10abd9dd3e54 = L.marker(
                [46.9599823, 22.0541733],
                {}
            ).addTo(marker_cluster_2cfc0921fbe24c21ad470e87c3c954dc);
        
    
        var popup_13754411633e481eb83b51fea8233865 = L.popup({"maxWidth": 400});

        
            var html_0974c535b7d44c9fb9f2da773caa9647 = $(`<div id="html_0974c535b7d44c9fb9f2da773caa9647" style="width: 100.0%; height: 100.0%;">Everywhere <br> <a href=https://www.picuki.com/media/2532722989667306261 > See Post</div>`)[0];
            popup_13754411633e481eb83b51fea8233865.setContent(html_0974c535b7d44c9fb9f2da773caa9647);
        

        marker_fcfc2e4bd80f45f69eaa10abd9dd3e54.bindPopup(popup_13754411633e481eb83b51fea8233865)
        ;

        
    
    
            var marker_9693a20e81a24d48b7ebd7254ac65556 = L.marker(
                [25.2528888, 55.17696777178696],
                {}
            ).addTo(marker_cluster_2cfc0921fbe24c21ad470e87c3c954dc);
        
    
        var popup_5ebec2c75e5543119643f725e7c07f3d = L.popup({"maxWidth": 400});

        
            var html_5e49c1978589423bb33e51e62cf76408 = $(`<div id="html_5e49c1978589423bb33e51e62cf76408" style="width: 100.0%; height: 100.0%;">World <br> <a href=https://www.picuki.com/media/2542254476594817363 > See Post</div>`)[0];
            popup_5ebec2c75e5543119643f725e7c07f3d.setContent(html_5e49c1978589423bb33e51e62cf76408);
        

        marker_9693a20e81a24d48b7ebd7254ac65556.bindPopup(popup_5ebec2c75e5543119643f725e7c07f3d)
        ;

        
    
</script>