<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_70f7d4918ae7493580d20bf71c9ffb07 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_70f7d4918ae7493580d20bf71c9ffb07" ></div>
        
</body>
<script>    
    
            var map_70f7d4918ae7493580d20bf71c9ffb07 = L.map(
                "map_70f7d4918ae7493580d20bf71c9ffb07",
                {
                    center: [-34.1, 18.42],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3c8da212e7e141e586b4a45b77869495 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_70f7d4918ae7493580d20bf71c9ffb07);
        
    
            var marker_cluster_1ad63fe82ed7445f8e0883723241d5a0 = L.markerClusterGroup(
                {}
            );
            map_70f7d4918ae7493580d20bf71c9ffb07.addLayer(marker_cluster_1ad63fe82ed7445f8e0883723241d5a0);
        
    
            var marker_f6c79a9e6708432bb6564b9cac8919b2 = L.marker(
                [-33.928992, 18.417396],
                {}
            ).addTo(marker_cluster_1ad63fe82ed7445f8e0883723241d5a0);
        
    
        var popup_51f46f5b100c43da800e2de10b0ddc59 = L.popup({"maxWidth": 400});

        
            var html_a1d357b9747e47b5bcdf90f58f219715 = $(`<div id="html_a1d357b9747e47b5bcdf90f58f219715" style="width: 100.0%; height: 100.0%;">Cape Town, Western Cape <br> <a href=https://www.picuki.com/media/2500145399972234259 > See Post</div>`)[0];
            popup_51f46f5b100c43da800e2de10b0ddc59.setContent(html_a1d357b9747e47b5bcdf90f58f219715);
        

        marker_f6c79a9e6708432bb6564b9cac8919b2.bindPopup(popup_51f46f5b100c43da800e2de10b0ddc59)
        ;

        
    
    
            var marker_fc59b36190f944eda247a304cafc5a83 = L.marker(
                [-33.9352848, 18.3790703],
                {}
            ).addTo(marker_cluster_1ad63fe82ed7445f8e0883723241d5a0);
        
    
        var popup_275afc156773478daa7d92a893af3d91 = L.popup({"maxWidth": 400});

        
            var html_637cab7c5ccd41b081d5cf794037f20e = $(`<div id="html_637cab7c5ccd41b081d5cf794037f20e" style="width: 100.0%; height: 100.0%;">Clifton, Western Cape, South Africa <br> <a href=https://www.picuki.com/media/2511054253272071988 > See Post</div>`)[0];
            popup_275afc156773478daa7d92a893af3d91.setContent(html_637cab7c5ccd41b081d5cf794037f20e);
        

        marker_fc59b36190f944eda247a304cafc5a83.bindPopup(popup_275afc156773478daa7d92a893af3d91)
        ;

        
    
    
            var marker_c29dda7670254538972c6a9ad7e9f4d2 = L.marker(
                [-33.954773599999996, 18.38185236529182],
                {}
            ).addTo(marker_cluster_1ad63fe82ed7445f8e0883723241d5a0);
        
    
        var popup_0b6de61ec47d4783916a23ba2945fb69 = L.popup({"maxWidth": 400});

        
            var html_487b88c3f62e4256b27b0c2788f12122 = $(`<div id="html_487b88c3f62e4256b27b0c2788f12122" style="width: 100.0%; height: 100.0%;">Camps Bay, Western Cape, South Africa <br> <a href=https://www.picuki.com/media/2523579655206918258 > See Post</div>`)[0];
            popup_0b6de61ec47d4783916a23ba2945fb69.setContent(html_487b88c3f62e4256b27b0c2788f12122);
        

        marker_c29dda7670254538972c6a9ad7e9f4d2.bindPopup(popup_0b6de61ec47d4783916a23ba2945fb69)
        ;

        
    
    
            var marker_2403bfda7e464f9bbafc608ff8415661 = L.marker(
                [-33.9617001, 18.422761521953632],
                {}
            ).addTo(marker_cluster_1ad63fe82ed7445f8e0883723241d5a0);
        
    
        var popup_7da35dcc13fe41adb70aba26e7d6dff3 = L.popup({"maxWidth": 400});

        
            var html_40e6c36449a24be392f9d29756ea8ab1 = $(`<div id="html_40e6c36449a24be392f9d29756ea8ab1" style="width: 100.0%; height: 100.0%;">Table Mountain National Park <br> <a href=https://www.picuki.com/media/2546045914274700043 > See Post</div>`)[0];
            popup_7da35dcc13fe41adb70aba26e7d6dff3.setContent(html_40e6c36449a24be392f9d29756ea8ab1);
        

        marker_2403bfda7e464f9bbafc608ff8415661.bindPopup(popup_7da35dcc13fe41adb70aba26e7d6dff3)
        ;

        
    
    
            var marker_ab5fc01d88f941e4a36a5cd543fbc5fc = L.marker(
                [-33.998768150000004, 18.42640811313202],
                {}
            ).addTo(marker_cluster_1ad63fe82ed7445f8e0883723241d5a0);
        
    
        var popup_60929a0ea7db4898881b5a0722b203e4 = L.popup({"maxWidth": 400});

        
            var html_78b662eb3a3c43e3a80ed79c0c82ee04 = $(`<div id="html_78b662eb3a3c43e3a80ed79c0c82ee04" style="width: 100.0%; height: 100.0%;">Cecilia Forest, Constantia Forest <br> <a href=https://www.picuki.com/media/2548241665889345189 > See Post</div>`)[0];
            popup_60929a0ea7db4898881b5a0722b203e4.setContent(html_78b662eb3a3c43e3a80ed79c0c82ee04);
        

        marker_ab5fc01d88f941e4a36a5cd543fbc5fc.bindPopup(popup_60929a0ea7db4898881b5a0722b203e4)
        ;

        
    
    
            var marker_ec5e592030754c9c901f5d601f7c3e7d = L.marker(
                [-34.3314458, 18.4670252],
                {}
            ).addTo(marker_cluster_1ad63fe82ed7445f8e0883723241d5a0);
        
    
        var popup_e7aa232bb3714a2884b0298b6da75d17 = L.popup({"maxWidth": 400});

        
            var html_b99a92634f984f858a5e79cb397d8b0e = $(`<div id="html_b99a92634f984f858a5e79cb397d8b0e" style="width: 100.0%; height: 100.0%;">Cape Point National Park <br> <a href=https://www.picuki.com/media/2556217929899970558 > See Post</div>`)[0];
            popup_e7aa232bb3714a2884b0298b6da75d17.setContent(html_b99a92634f984f858a5e79cb397d8b0e);
        

        marker_ec5e592030754c9c901f5d601f7c3e7d.bindPopup(popup_e7aa232bb3714a2884b0298b6da75d17)
        ;

        
    
    
            var marker_c55c62383cb64a8e9a51063fdc6e97a3 = L.marker(
                [-34.789385, 20.023136480492216],
                {}
            ).addTo(marker_cluster_1ad63fe82ed7445f8e0883723241d5a0);
        
    
        var popup_2fa5c17ac9b544a3b9814df45953cde8 = L.popup({"maxWidth": 400});

        
            var html_55c713df660645098da2d23ae4222f73 = $(`<div id="html_55c713df660645098da2d23ae4222f73" style="width: 100.0%; height: 100.0%;">Struisbaai, Western Cape <br> <a href=https://www.picuki.com/media/2558892333020782939 > See Post</div>`)[0];
            popup_2fa5c17ac9b544a3b9814df45953cde8.setContent(html_55c713df660645098da2d23ae4222f73);
        

        marker_c55c62383cb64a8e9a51063fdc6e97a3.bindPopup(popup_2fa5c17ac9b544a3b9814df45953cde8)
        ;

        
    
    
            var marker_d995d08e3b5b4983bbf2bd973bf33950 = L.marker(
                [-33.9305556, 18.4472222],
                {}
            ).addTo(marker_cluster_1ad63fe82ed7445f8e0883723241d5a0);
        
    
        var popup_b43172eb07ff406e969c1e2bcb391710 = L.popup({"maxWidth": 400});

        
            var html_7f9ad35cbdee42d6adb04479df1f4dee = $(`<div id="html_7f9ad35cbdee42d6adb04479df1f4dee" style="width: 100.0%; height: 100.0%;">Woodstock, Western Cape, South Africa <br> <a href=https://www.picuki.com/media/2559510982727366463 > See Post</div>`)[0];
            popup_b43172eb07ff406e969c1e2bcb391710.setContent(html_7f9ad35cbdee42d6adb04479df1f4dee);
        

        marker_d995d08e3b5b4983bbf2bd973bf33950.bindPopup(popup_b43172eb07ff406e969c1e2bcb391710)
        ;

        
    
    
            var marker_4f5334d8176a44d39c84c02d6bfd5b3a = L.marker(
                [-28.8166236, 24.991639],
                {}
            ).addTo(marker_cluster_1ad63fe82ed7445f8e0883723241d5a0);
        
    
        var popup_8e58ec3096e34558bbdc6e33f0707b91 = L.popup({"maxWidth": 400});

        
            var html_8e06b96437a64cfa84f937b257a8652a = $(`<div id="html_8e06b96437a64cfa84f937b257a8652a" style="width: 100.0%; height: 100.0%;">South Africa <br> <a href=https://www.picuki.com/media/2560401276960283721 > See Post</div>`)[0];
            popup_8e58ec3096e34558bbdc6e33f0707b91.setContent(html_8e06b96437a64cfa84f937b257a8652a);
        

        marker_4f5334d8176a44d39c84c02d6bfd5b3a.bindPopup(popup_8e58ec3096e34558bbdc6e33f0707b91)
        ;

        
    
</script>