<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_fc3e54fdb9474cce8b25a1f6d8bb32b7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_fc3e54fdb9474cce8b25a1f6d8bb32b7" ></div>
        
</body>
<script>    
    
            var map_fc3e54fdb9474cce8b25a1f6d8bb32b7 = L.map(
                "map_fc3e54fdb9474cce8b25a1f6d8bb32b7",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_95844ec69acf423f94a64f7971b93448 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_fc3e54fdb9474cce8b25a1f6d8bb32b7);
        
    
            var marker_cluster_b2573035a4e14ba3a2705a1958b45dcd = L.markerClusterGroup(
                {}
            );
            map_fc3e54fdb9474cce8b25a1f6d8bb32b7.addLayer(marker_cluster_b2573035a4e14ba3a2705a1958b45dcd);
        
    
            var marker_e19715e824f844038e5d5560c7250682 = L.marker(
                [38.8950368, -77.0365427],
                {}
            ).addTo(marker_cluster_b2573035a4e14ba3a2705a1958b45dcd);
        
    
        var popup_0e4d1d28272c40c2a42d615a8412d94b = L.popup({"maxWidth": 400});

        
            var html_cb6201229cbf4eea9bbfd80de8b36cc6 = $(`<div id="html_cb6201229cbf4eea9bbfd80de8b36cc6" style="width: 100.0%; height: 100.0%;">Washington <br> <a href=https://www.picuki.com/media/2519953878034484714 > See Post</div>`)[0];
            popup_0e4d1d28272c40c2a42d615a8412d94b.setContent(html_cb6201229cbf4eea9bbfd80de8b36cc6);
        

        marker_e19715e824f844038e5d5560c7250682.bindPopup(popup_0e4d1d28272c40c2a42d615a8412d94b)
        ;

        
    
    
            var marker_a4e4138bf30145ae9e4bba4a1ea5677c = L.marker(
                [45.7087902, -121.5123728],
                {}
            ).addTo(marker_cluster_b2573035a4e14ba3a2705a1958b45dcd);
        
    
        var popup_59a7d79ae9c148fa86ea66a53c0f07dd = L.popup({"maxWidth": 400});

        
            var html_8ba322dc3e2b43f58ca847019c754b76 = $(`<div id="html_8ba322dc3e2b43f58ca847019c754b76" style="width: 100.0%; height: 100.0%;">Hood River, Oregon <br> <a href=https://www.picuki.com/media/2525188298450422748 > See Post</div>`)[0];
            popup_59a7d79ae9c148fa86ea66a53c0f07dd.setContent(html_8ba322dc3e2b43f58ca847019c754b76);
        

        marker_a4e4138bf30145ae9e4bba4a1ea5677c.bindPopup(popup_59a7d79ae9c148fa86ea66a53c0f07dd)
        ;

        
    
    
            var marker_d94c818d99d04c2eb814e432a63e353c = L.marker(
                [50.08733665, -125.01507894250184],
                {}
            ).addTo(marker_cluster_b2573035a4e14ba3a2705a1958b45dcd);
        
    
        var popup_c72a2773641f47c2a28032c21e10641d = L.popup({"maxWidth": 400});

        
            var html_2a68aff4ad9442969544efb33276b67d = $(`<div id="html_2a68aff4ad9442969544efb33276b67d" style="width: 100.0%; height: 100.0%;">Columbia River Gorge <br> <a href=https://www.picuki.com/media/2530813284234251941 > See Post</div>`)[0];
            popup_c72a2773641f47c2a28032c21e10641d.setContent(html_2a68aff4ad9442969544efb33276b67d);
        

        marker_d94c818d99d04c2eb814e432a63e353c.bindPopup(popup_c72a2773641f47c2a28032c21e10641d)
        ;

        
    
    
            var marker_5c3b2120c5034255a9d413a7af1a434c = L.marker(
                [36.4586722, -94.2737524],
                {}
            ).addTo(marker_cluster_b2573035a4e14ba3a2705a1958b45dcd);
        
    
        var popup_a547b0b514d9437d90f89753462c8dcf = L.popup({"maxWidth": 400});

        
            var html_6f81814417c642c9856b0c54d0685f12 = $(`<div id="html_6f81814417c642c9856b0c54d0685f12" style="width: 100.0%; height: 100.0%;">Whiskey Tango <br> <a href=https://www.picuki.com/media/2537758228031147356 > See Post</div>`)[0];
            popup_a547b0b514d9437d90f89753462c8dcf.setContent(html_6f81814417c642c9856b0c54d0685f12);
        

        marker_5c3b2120c5034255a9d413a7af1a434c.bindPopup(popup_a547b0b514d9437d90f89753462c8dcf)
        ;

        
    
    
            var marker_febec9677bd640e48e426b938390d410 = L.marker(
                [45.7276194, -121.4864619],
                {}
            ).addTo(marker_cluster_b2573035a4e14ba3a2705a1958b45dcd);
        
    
        var popup_acebf77ee215485ba4b1ce2ec0896ed9 = L.popup({"maxWidth": 400});

        
            var html_d585dd9be1b54f78a853f8f053cb2230 = $(`<div id="html_d585dd9be1b54f78a853f8f053cb2230" style="width: 100.0%; height: 100.0%;">White Salmon, Washington <br> <a href=https://www.picuki.com/media/2545472533673435615 > See Post</div>`)[0];
            popup_acebf77ee215485ba4b1ce2ec0896ed9.setContent(html_d585dd9be1b54f78a853f8f053cb2230);
        

        marker_febec9677bd640e48e426b938390d410.bindPopup(popup_acebf77ee215485ba4b1ce2ec0896ed9)
        ;

        
    
    
            var marker_f2b6aca0cc244f618a022a856f4b6f35 = L.marker(
                [45.7089859, -121.5110307],
                {}
            ).addTo(marker_cluster_b2573035a4e14ba3a2705a1958b45dcd);
        
    
        var popup_8b8f6b9cf23449b881fb488deceba7d7 = L.popup({"maxWidth": 400});

        
            var html_9b73da9476374e6293e374ed884a2e3a = $(`<div id="html_9b73da9476374e6293e374ed884a2e3a" style="width: 100.0%; height: 100.0%;">Celilo Restaurant and Bar <br> <a href=https://www.picuki.com/media/2551825544683419852 > See Post</div>`)[0];
            popup_8b8f6b9cf23449b881fb488deceba7d7.setContent(html_9b73da9476374e6293e374ed884a2e3a);
        

        marker_f2b6aca0cc244f618a022a856f4b6f35.bindPopup(popup_8b8f6b9cf23449b881fb488deceba7d7)
        ;

        
    
    
            var marker_94497b08d16d43c981706d7d6b953729 = L.marker(
                [45.33110095, -121.7110292296738],
                {}
            ).addTo(marker_cluster_b2573035a4e14ba3a2705a1958b45dcd);
        
    
        var popup_f1cf370d8981456c87b96445bc2633f8 = L.popup({"maxWidth": 400});

        
            var html_ea7d883fe5374c07a965adae6e6898f3 = $(`<div id="html_ea7d883fe5374c07a965adae6e6898f3" style="width: 100.0%; height: 100.0%;">Timberline Lodge <br> <a href=https://www.picuki.com/media/2552058396670862095 > See Post</div>`)[0];
            popup_f1cf370d8981456c87b96445bc2633f8.setContent(html_ea7d883fe5374c07a965adae6e6898f3);
        

        marker_94497b08d16d43c981706d7d6b953729.bindPopup(popup_f1cf370d8981456c87b96445bc2633f8)
        ;

        
    
    
            var marker_489c42e6897942dbb3148b6115ed7fb7 = L.marker(
                [43.9792797, -120.737257],
                {}
            ).addTo(marker_cluster_b2573035a4e14ba3a2705a1958b45dcd);
        
    
        var popup_07723a7f06404f99a6f5b791d591b2cb = L.popup({"maxWidth": 400});

        
            var html_e6bb7faaf0ce42cead4b900f2e13f72e = $(`<div id="html_e6bb7faaf0ce42cead4b900f2e13f72e" style="width: 100.0%; height: 100.0%;">Oregon <br> <a href=https://www.picuki.com/media/2556894378926685015 > See Post</div>`)[0];
            popup_07723a7f06404f99a6f5b791d591b2cb.setContent(html_e6bb7faaf0ce42cead4b900f2e13f72e);
        

        marker_489c42e6897942dbb3148b6115ed7fb7.bindPopup(popup_07723a7f06404f99a6f5b791d591b2cb)
        ;

        
    
</script>