<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7925dd0c4b4c49a4bd61d6532f1a6590 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_7925dd0c4b4c49a4bd61d6532f1a6590" ></div>
        
</body>
<script>    
    
            var map_7925dd0c4b4c49a4bd61d6532f1a6590 = L.map(
                "map_7925dd0c4b4c49a4bd61d6532f1a6590",
                {
                    center: [52.35, 5.3],
                    crs: L.CRS.EPSG3857,
                    zoom: 9,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_84639ea8cc39442bbd666122be0efa95 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7925dd0c4b4c49a4bd61d6532f1a6590);
        
    
            var marker_cluster_3256f2a08e544eddb954406c65346ceb = L.markerClusterGroup(
                {}
            );
            map_7925dd0c4b4c49a4bd61d6532f1a6590.addLayer(marker_cluster_3256f2a08e544eddb954406c65346ceb);
        
    
            var marker_f223956ef9d44a8c88962315c25ee2d5 = L.marker(
                [17.2960426, -62.7241092],
                {}
            ).addTo(marker_cluster_3256f2a08e544eddb954406c65346ceb);
        
    
        var popup_7e4b66ceb91743d4b81a8369698e4854 = L.popup({"maxWidth": 400});

        
            var html_1b7c89a72cf348a4b221ae6245762df2 = $(`<div id="html_1b7c89a72cf348a4b221ae6245762df2" style="width: 100.0%; height: 100.0%;">Travel The World <br> <a href=https://www.picuki.com/media/2364706437060842883 > See Post</div>`)[0];
            popup_7e4b66ceb91743d4b81a8369698e4854.setContent(html_1b7c89a72cf348a4b221ae6245762df2);
        

        marker_f223956ef9d44a8c88962315c25ee2d5.bindPopup(popup_7e4b66ceb91743d4b81a8369698e4854)
        ;

        
    
    
            var marker_17763289a6234911896358117e444aee = L.marker(
                [52.3578866, 4.867116659586616],
                {}
            ).addTo(marker_cluster_3256f2a08e544eddb954406c65346ceb);
        
    
        var popup_a2adc60baa3c46d69e12f8166ba78bd2 = L.popup({"maxWidth": 400});

        
            var html_2ecf5186693345e88ebdf5c7608da65b = $(`<div id="html_2ecf5186693345e88ebdf5c7608da65b" style="width: 100.0%; height: 100.0%;">Vondelpark, Amsterdam <br> <a href=https://www.picuki.com/media/2370365663556844327 > See Post</div>`)[0];
            popup_a2adc60baa3c46d69e12f8166ba78bd2.setContent(html_2ecf5186693345e88ebdf5c7608da65b);
        

        marker_17763289a6234911896358117e444aee.bindPopup(popup_a2adc60baa3c46d69e12f8166ba78bd2)
        ;

        
    
    
            var marker_75f9704d61524aef91b8204507ff876a = L.marker(
                [52.080985600000005, 5.12768396945229],
                {}
            ).addTo(marker_cluster_3256f2a08e544eddb954406c65346ceb);
        
    
        var popup_fd83ea3ec261488a929863c053fe3f40 = L.popup({"maxWidth": 400});

        
            var html_d7351fb5a30642dd943efd3b10cdea28 = $(`<div id="html_d7351fb5a30642dd943efd3b10cdea28" style="width: 100.0%; height: 100.0%;">Utrecht, Netherlands <br> <a href=https://www.picuki.com/media/2384227489897858797 > See Post</div>`)[0];
            popup_fd83ea3ec261488a929863c053fe3f40.setContent(html_d7351fb5a30642dd943efd3b10cdea28);
        

        marker_75f9704d61524aef91b8204507ff876a.bindPopup(popup_fd83ea3ec261488a929863c053fe3f40)
        ;

        
    
    
            var marker_bd76aae1540940e7837cd49089a8a95b = L.marker(
                [52.3727598, 4.8936041],
                {}
            ).addTo(marker_cluster_3256f2a08e544eddb954406c65346ceb);
        
    
        var popup_36056d3a2d4f41ca85a52ffb07e00b3a = L.popup({"maxWidth": 400});

        
            var html_21ef680f04244e9d9ac0b81666889215 = $(`<div id="html_21ef680f04244e9d9ac0b81666889215" style="width: 100.0%; height: 100.0%;">Amsterdam, Netherlands <br> <a href=https://www.picuki.com/media/2469807089746669629 > See Post</div>`)[0];
            popup_36056d3a2d4f41ca85a52ffb07e00b3a.setContent(html_21ef680f04244e9d9ac0b81666889215);
        

        marker_bd76aae1540940e7837cd49089a8a95b.bindPopup(popup_36056d3a2d4f41ca85a52ffb07e00b3a)
        ;

        
    
    
            var marker_389dab1ecc47447a97251e3d4147820c = L.marker(
                [52.5001698, 5.7480821],
                {}
            ).addTo(marker_cluster_3256f2a08e544eddb954406c65346ceb);
        
    
        var popup_1dd2a7c1943f461496a69548d5baf69b = L.popup({"maxWidth": 400});

        
            var html_85e84a6487ba4c528138b7a83f8bc9a5 = $(`<div id="html_85e84a6487ba4c528138b7a83f8bc9a5" style="width: 100.0%; height: 100.0%;">Netherlands <br> <a href=https://www.picuki.com/media/2471323554257792426 > See Post</div>`)[0];
            popup_1dd2a7c1943f461496a69548d5baf69b.setContent(html_85e84a6487ba4c528138b7a83f8bc9a5);
        

        marker_389dab1ecc47447a97251e3d4147820c.bindPopup(popup_1dd2a7c1943f461496a69548d5baf69b)
        ;

        
    
    
            var marker_79a258e090d94c1b8702c050c929cd5f = L.marker(
                [46.9599823, 22.0541733],
                {}
            ).addTo(marker_cluster_3256f2a08e544eddb954406c65346ceb);
        
    
        var popup_30b15b64bf404345bcacd79e4597ffe6 = L.popup({"maxWidth": 400});

        
            var html_251b17f3445d4cb2a7b7d744478b38ca = $(`<div id="html_251b17f3445d4cb2a7b7d744478b38ca" style="width: 100.0%; height: 100.0%;">Everywhere <br> <a href=https://www.picuki.com/media/2532722989667306261 > See Post</div>`)[0];
            popup_30b15b64bf404345bcacd79e4597ffe6.setContent(html_251b17f3445d4cb2a7b7d744478b38ca);
        

        marker_79a258e090d94c1b8702c050c929cd5f.bindPopup(popup_30b15b64bf404345bcacd79e4597ffe6)
        ;

        
    
    
            var marker_45e01c3986fb406ca34a7170cc9b6e88 = L.marker(
                [25.2528888, 55.17696777178696],
                {}
            ).addTo(marker_cluster_3256f2a08e544eddb954406c65346ceb);
        
    
        var popup_8674cb591bd24724a313ca32530016ca = L.popup({"maxWidth": 400});

        
            var html_c75f78571b3b4b568e72230adb8bee2e = $(`<div id="html_c75f78571b3b4b568e72230adb8bee2e" style="width: 100.0%; height: 100.0%;">World <br> <a href=https://www.picuki.com/media/2542254476594817363 > See Post</div>`)[0];
            popup_8674cb591bd24724a313ca32530016ca.setContent(html_c75f78571b3b4b568e72230adb8bee2e);
        

        marker_45e01c3986fb406ca34a7170cc9b6e88.bindPopup(popup_8674cb591bd24724a313ca32530016ca)
        ;

        
    
</script>