<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_89e9405a39694b3aa457cfc57a2d0417 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_89e9405a39694b3aa457cfc57a2d0417" ></div>
        
</body>
<script>    
    
            var map_89e9405a39694b3aa457cfc57a2d0417 = L.map(
                "map_89e9405a39694b3aa457cfc57a2d0417",
                {
                    center: [55.0, 2.64],
                    crs: L.CRS.EPSG3857,
                    zoom: 4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1278f8d90b434416a6fa169291b235a0 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_89e9405a39694b3aa457cfc57a2d0417);
        
    
            var marker_cluster_2396007e22794f29b0a3dc95ee346d1f = L.markerClusterGroup(
                {}
            );
            map_89e9405a39694b3aa457cfc57a2d0417.addLayer(marker_cluster_2396007e22794f29b0a3dc95ee346d1f);
        
    
            var marker_3aa8220785dd46d3a6e69bf42ff4c5f6 = L.marker(
                [58.0441506, -5.207476],
                {}
            ).addTo(marker_cluster_2396007e22794f29b0a3dc95ee346d1f);
        
    
        var popup_348c94dfba46433ea33abae3d1f6bff8 = L.popup({"maxWidth": 400});

        
            var html_130460e62a7f48be909dcda07f39e34a = $(`<div id="html_130460e62a7f48be909dcda07f39e34a" style="width: 100.0%; height: 100.0%;">Stac Pollaidh <br> <a href=https://www.picuki.com/media/2527146168570101401 > See Post</div>`)[0];
            popup_348c94dfba46433ea33abae3d1f6bff8.setContent(html_130460e62a7f48be909dcda07f39e34a);
        

        marker_3aa8220785dd46d3a6e69bf42ff4c5f6.bindPopup(popup_348c94dfba46433ea33abae3d1f6bff8)
        ;

        
    
    
            var marker_83d266177f0f4271994da443fd4a6a21 = L.marker(
                [60.1329516, 6.7540404],
                {}
            ).addTo(marker_cluster_2396007e22794f29b0a3dc95ee346d1f);
        
    
        var popup_73eced8060854dabacf133b6ce44a224 = L.popup({"maxWidth": 400});

        
            var html_7d1cb1b4a9da46c7ae793d4bad330916 = $(`<div id="html_7d1cb1b4a9da46c7ae793d4bad330916" style="width: 100.0%; height: 100.0%;">Trolltunga, Norway <br> <a href=https://www.picuki.com/media/2527863899632422461 > See Post</div>`)[0];
            popup_73eced8060854dabacf133b6ce44a224.setContent(html_7d1cb1b4a9da46c7ae793d4bad330916);
        

        marker_83d266177f0f4271994da443fd4a6a21.bindPopup(popup_73eced8060854dabacf133b6ce44a224)
        ;

        
    
    
            var marker_ebe7aee89b8c47d6bd89af60b42357b8 = L.marker(
                [56.5667883, -4.8707776],
                {}
            ).addTo(marker_cluster_2396007e22794f29b0a3dc95ee346d1f);
        
    
        var popup_034fd62d319d463d9645c91559084ca8 = L.popup({"maxWidth": 400});

        
            var html_afaf7906a5034497b724ecdbf50c958e = $(`<div id="html_afaf7906a5034497b724ecdbf50c958e" style="width: 100.0%; height: 100.0%;">Aonach Eagach <br> <a href=https://www.picuki.com/media/2532229571183335031 > See Post</div>`)[0];
            popup_034fd62d319d463d9645c91559084ca8.setContent(html_afaf7906a5034497b724ecdbf50c958e);
        

        marker_ebe7aee89b8c47d6bd89af60b42357b8.bindPopup(popup_034fd62d319d463d9645c91559084ca8)
        ;

        
    
    
            var marker_4457e43c9bd942b4a84d90dd2e41b83b = L.marker(
                [46.6178075, 12.298379872784528],
                {}
            ).addTo(marker_cluster_2396007e22794f29b0a3dc95ee346d1f);
        
    
        var popup_b474e5811859485499b163182405e9c1 = L.popup({"maxWidth": 400});

        
            var html_2fc8da3d7f1d4bd4b9e71c775601251a = $(`<div id="html_2fc8da3d7f1d4bd4b9e71c775601251a" style="width: 100.0%; height: 100.0%;">Tre Cime di Lavaredo <br> <a href=https://www.picuki.com/media/2534334471765712642 > See Post</div>`)[0];
            popup_b474e5811859485499b163182405e9c1.setContent(html_2fc8da3d7f1d4bd4b9e71c775601251a);
        

        marker_4457e43c9bd942b4a84d90dd2e41b83b.bindPopup(popup_b474e5811859485499b163182405e9c1)
        ;

        
    
    
            var marker_6975c678d2fd41e0b1997cbc4a1eb668 = L.marker(
                [57.8023457, -5.2542535],
                {}
            ).addTo(marker_cluster_2396007e22794f29b0a3dc95ee346d1f);
        
    
        var popup_69c349f3dbbd444e864dc8ffbcb8886b = L.popup({"maxWidth": 400});

        
            var html_77dd6ea6d72347198d3cce4e3bcbd4ac = $(`<div id="html_77dd6ea6d72347198d3cce4e3bcbd4ac" style="width: 100.0%; height: 100.0%;">An Teallach <br> <a href=https://www.picuki.com/media/2536575135375048202 > See Post</div>`)[0];
            popup_69c349f3dbbd444e864dc8ffbcb8886b.setContent(html_77dd6ea6d72347198d3cce4e3bcbd4ac);
        

        marker_6975c678d2fd41e0b1997cbc4a1eb668.bindPopup(popup_69c349f3dbbd444e864dc8ffbcb8886b)
        ;

        
    
    
            var marker_20470efeea144cad8ef36fa3a9631a35 = L.marker(
                [-29.4779935, 29.2673172],
                {}
            ).addTo(marker_cluster_2396007e22794f29b0a3dc95ee346d1f);
        
    
        var popup_ebcb681e18f5463db6524aeb24fed974 = L.popup({"maxWidth": 400});

        
            var html_8a2458abd93846df9c939ac85c18855e = $(`<div id="html_8a2458abd93846df9c939ac85c18855e" style="width: 100.0%; height: 100.0%;">Drakensberg <br> <a href=https://www.picuki.com/media/2540934891070002241 > See Post</div>`)[0];
            popup_ebcb681e18f5463db6524aeb24fed974.setContent(html_8a2458abd93846df9c939ac85c18855e);
        

        marker_20470efeea144cad8ef36fa3a9631a35.bindPopup(popup_ebcb681e18f5463db6524aeb24fed974)
        ;

        
    
    
            var marker_50ede3f24a994719b5443cef7ec19b5f = L.marker(
                [56.8, -5.0],
                {}
            ).addTo(marker_cluster_2396007e22794f29b0a3dc95ee346d1f);
        
    
        var popup_79f7c9fd9f41489082b17f2551341b97 = L.popup({"maxWidth": 400});

        
            var html_7e30c3fa37b44c57ac250e62552d63ba = $(`<div id="html_7e30c3fa37b44c57ac250e62552d63ba" style="width: 100.0%; height: 100.0%;">Scottish Highlands <br> <a href=https://www.picuki.com/media/2541619132057513071 > See Post</div>`)[0];
            popup_79f7c9fd9f41489082b17f2551341b97.setContent(html_7e30c3fa37b44c57ac250e62552d63ba);
        

        marker_50ede3f24a994719b5443cef7ec19b5f.bindPopup(popup_79f7c9fd9f41489082b17f2551341b97)
        ;

        
    
    
            var marker_32f84afbbd564ac080972ebafb3d706b = L.marker(
                [58.1379667, -4.8585225],
                {}
            ).addTo(marker_cluster_2396007e22794f29b0a3dc95ee346d1f);
        
    
        var popup_05867e9e48334a249ef0a875adbece41 = L.popup({"maxWidth": 400});

        
            var html_57fc2aef79094375b8c70bcd81ec98ff = $(`<div id="html_57fc2aef79094375b8c70bcd81ec98ff" style="width: 100.0%; height: 100.0%;">Assynt <br> <a href=https://www.picuki.com/media/2545936899699063213 > See Post</div>`)[0];
            popup_05867e9e48334a249ef0a875adbece41.setContent(html_57fc2aef79094375b8c70bcd81ec98ff);
        

        marker_32f84afbbd564ac080972ebafb3d706b.bindPopup(popup_05867e9e48334a249ef0a875adbece41)
        ;

        
    
    
            var marker_1200a3e57c454ddd8e10216511d03b1a = L.marker(
                [44.1349412, 9.6827757],
                {}
            ).addTo(marker_cluster_2396007e22794f29b0a3dc95ee346d1f);
        
    
        var popup_f87731996eb246518b144582836828e6 = L.popup({"maxWidth": 400});

        
            var html_ebbd7bb1fe594b8eabfa1d638e00f0bc = $(`<div id="html_ebbd7bb1fe594b8eabfa1d638e00f0bc" style="width: 100.0%; height: 100.0%;">Vernazza <br> <a href=https://www.picuki.com/media/2556875476288997988 > See Post</div>`)[0];
            popup_f87731996eb246518b144582836828e6.setContent(html_ebbd7bb1fe594b8eabfa1d638e00f0bc);
        

        marker_1200a3e57c454ddd8e10216511d03b1a.bindPopup(popup_f87731996eb246518b144582836828e6)
        ;

        
    
    
            var marker_1b268eaacc8f4fa293e9df9b5c125338 = L.marker(
                [56.87582355, -5.4293199131217245],
                {}
            ).addTo(marker_cluster_2396007e22794f29b0a3dc95ee346d1f);
        
    
        var popup_e67b2f03a59f4d6a8bc7d62fd59a0065 = L.popup({"maxWidth": 400});

        
            var html_1609e8479dfc4e3c9bf37a1056018054 = $(`<div id="html_1609e8479dfc4e3c9bf37a1056018054" style="width: 100.0%; height: 100.0%;">Glenfinnan Viaduct <br> <a href=https://www.picuki.com/media/2557576599769602857 > See Post</div>`)[0];
            popup_e67b2f03a59f4d6a8bc7d62fd59a0065.setContent(html_1609e8479dfc4e3c9bf37a1056018054);
        

        marker_1b268eaacc8f4fa293e9df9b5c125338.bindPopup(popup_e67b2f03a59f4d6a8bc7d62fd59a0065)
        ;

        
    
    
            var marker_50930121ff824de9b8be0b41fa11e3cb = L.marker(
                [55.1365816, -6.3846295],
                {}
            ).addTo(marker_cluster_2396007e22794f29b0a3dc95ee346d1f);
        
    
        var popup_6f2fb7902b024002b435d37d96a1f0f5 = L.popup({"maxWidth": 400});

        
            var html_a01c78277f6242d3bed195edd62b233d = $(`<div id="html_a01c78277f6242d3bed195edd62b233d" style="width: 100.0%; height: 100.0%;">The Dark Hedges <br> <a href=https://www.picuki.com/media/2560543847543159722 > See Post</div>`)[0];
            popup_6f2fb7902b024002b435d37d96a1f0f5.setContent(html_a01c78277f6242d3bed195edd62b233d);
        

        marker_50930121ff824de9b8be0b41fa11e3cb.bindPopup(popup_6f2fb7902b024002b435d37d96a1f0f5)
        ;

        
    
</script>