<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5ac4ab11ea08444c94b82d9f8ecacef3 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_5ac4ab11ea08444c94b82d9f8ecacef3" ></div>
        
</body>
<script>    
    
            var map_5ac4ab11ea08444c94b82d9f8ecacef3 = L.map(
                "map_5ac4ab11ea08444c94b82d9f8ecacef3",
                {
                    center: [52.35, 5.3],
                    crs: L.CRS.EPSG3857,
                    zoom: 9,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6c38b6c0d78848fc80efef1e6ba7ea8a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5ac4ab11ea08444c94b82d9f8ecacef3);
        
    
            var marker_cluster_8fbab815e8f14bbe8d94c5e73482b6a7 = L.markerClusterGroup(
                {}
            );
            map_5ac4ab11ea08444c94b82d9f8ecacef3.addLayer(marker_cluster_8fbab815e8f14bbe8d94c5e73482b6a7);
        
    
            var marker_4cbb4e363f9a42dabb8ad361d02d8c87 = L.marker(
                [17.2960426, -62.7241092],
                {}
            ).addTo(marker_cluster_8fbab815e8f14bbe8d94c5e73482b6a7);
        
    
        var popup_682f038c0dde4c26b3866a391df56226 = L.popup({"maxWidth": 400});

        
            var html_b91207fe2e5745ceb7e56075d6f019c8 = $(`<div id="html_b91207fe2e5745ceb7e56075d6f019c8" style="width: 100.0%; height: 100.0%;">Travel The World <br> <a href=https://www.picuki.com/media/2364706437060842883 > See Post</div>`)[0];
            popup_682f038c0dde4c26b3866a391df56226.setContent(html_b91207fe2e5745ceb7e56075d6f019c8);
        

        marker_4cbb4e363f9a42dabb8ad361d02d8c87.bindPopup(popup_682f038c0dde4c26b3866a391df56226)
        ;

        
    
    
            var marker_7fa3af98d2424d66a7d3591b1f2d237f = L.marker(
                [52.3578866, 4.867116659586616],
                {}
            ).addTo(marker_cluster_8fbab815e8f14bbe8d94c5e73482b6a7);
        
    
        var popup_3f7d00fa0a5d46c198a06e8782263b55 = L.popup({"maxWidth": 400});

        
            var html_a75db1030eeb44aaaf43ccdfd51e9e83 = $(`<div id="html_a75db1030eeb44aaaf43ccdfd51e9e83" style="width: 100.0%; height: 100.0%;">Vondelpark, Amsterdam <br> <a href=https://www.picuki.com/media/2370365663556844327 > See Post</div>`)[0];
            popup_3f7d00fa0a5d46c198a06e8782263b55.setContent(html_a75db1030eeb44aaaf43ccdfd51e9e83);
        

        marker_7fa3af98d2424d66a7d3591b1f2d237f.bindPopup(popup_3f7d00fa0a5d46c198a06e8782263b55)
        ;

        
    
    
            var marker_612211bedcdd426ba616e2f9dd6f1e61 = L.marker(
                [52.080985600000005, 5.12768396945229],
                {}
            ).addTo(marker_cluster_8fbab815e8f14bbe8d94c5e73482b6a7);
        
    
        var popup_e881044fff7442f5a052e779ee495f2f = L.popup({"maxWidth": 400});

        
            var html_4baac930e51c417e98e42cf6be219421 = $(`<div id="html_4baac930e51c417e98e42cf6be219421" style="width: 100.0%; height: 100.0%;">Utrecht, Netherlands <br> <a href=https://www.picuki.com/media/2384227489897858797 > See Post</div>`)[0];
            popup_e881044fff7442f5a052e779ee495f2f.setContent(html_4baac930e51c417e98e42cf6be219421);
        

        marker_612211bedcdd426ba616e2f9dd6f1e61.bindPopup(popup_e881044fff7442f5a052e779ee495f2f)
        ;

        
    
    
            var marker_59f99fa8335b469d945cd419fc0539e0 = L.marker(
                [52.3727598, 4.8936041],
                {}
            ).addTo(marker_cluster_8fbab815e8f14bbe8d94c5e73482b6a7);
        
    
        var popup_80e31c31942446cbb2957c14c2830e02 = L.popup({"maxWidth": 400});

        
            var html_4f4e12d238fd42f281bc7cc99fe80100 = $(`<div id="html_4f4e12d238fd42f281bc7cc99fe80100" style="width: 100.0%; height: 100.0%;">Amsterdam, Netherlands <br> <a href=https://www.picuki.com/media/2469807089746669629 > See Post</div>`)[0];
            popup_80e31c31942446cbb2957c14c2830e02.setContent(html_4f4e12d238fd42f281bc7cc99fe80100);
        

        marker_59f99fa8335b469d945cd419fc0539e0.bindPopup(popup_80e31c31942446cbb2957c14c2830e02)
        ;

        
    
    
            var marker_ca00ed45508e429ab479e1e99ac0f714 = L.marker(
                [52.5001698, 5.7480821],
                {}
            ).addTo(marker_cluster_8fbab815e8f14bbe8d94c5e73482b6a7);
        
    
        var popup_8a430e6baf14411b8c41cc12e5766b6c = L.popup({"maxWidth": 400});

        
            var html_b1a5c3a3b233448ab38cbdfee8795580 = $(`<div id="html_b1a5c3a3b233448ab38cbdfee8795580" style="width: 100.0%; height: 100.0%;">Netherlands <br> <a href=https://www.picuki.com/media/2471323554257792426 > See Post</div>`)[0];
            popup_8a430e6baf14411b8c41cc12e5766b6c.setContent(html_b1a5c3a3b233448ab38cbdfee8795580);
        

        marker_ca00ed45508e429ab479e1e99ac0f714.bindPopup(popup_8a430e6baf14411b8c41cc12e5766b6c)
        ;

        
    
    
            var marker_47011856bfbe49e0bb66fd9133a053d0 = L.marker(
                [46.9599823, 22.0541733],
                {}
            ).addTo(marker_cluster_8fbab815e8f14bbe8d94c5e73482b6a7);
        
    
        var popup_4f56c9ef72cd4a21b84cc2bdacd366bb = L.popup({"maxWidth": 400});

        
            var html_3347422bc8254f6eabc287d5125f1ec5 = $(`<div id="html_3347422bc8254f6eabc287d5125f1ec5" style="width: 100.0%; height: 100.0%;">Everywhere <br> <a href=https://www.picuki.com/media/2532722989667306261 > See Post</div>`)[0];
            popup_4f56c9ef72cd4a21b84cc2bdacd366bb.setContent(html_3347422bc8254f6eabc287d5125f1ec5);
        

        marker_47011856bfbe49e0bb66fd9133a053d0.bindPopup(popup_4f56c9ef72cd4a21b84cc2bdacd366bb)
        ;

        
    
    
            var marker_1cc735b159b14319b3c2644a882062a2 = L.marker(
                [25.2528888, 55.17696777178696],
                {}
            ).addTo(marker_cluster_8fbab815e8f14bbe8d94c5e73482b6a7);
        
    
        var popup_3f674ebfb59e429b8153d1bcc6dbc601 = L.popup({"maxWidth": 400});

        
            var html_bcfe7f8176e347d2b561f48fec66f51c = $(`<div id="html_bcfe7f8176e347d2b561f48fec66f51c" style="width: 100.0%; height: 100.0%;">World <br> <a href=https://www.picuki.com/media/2542254476594817363 > See Post</div>`)[0];
            popup_3f674ebfb59e429b8153d1bcc6dbc601.setContent(html_bcfe7f8176e347d2b561f48fec66f51c);
        

        marker_1cc735b159b14319b3c2644a882062a2.bindPopup(popup_3f674ebfb59e429b8153d1bcc6dbc601)
        ;

        
    
</script>