<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_02a39ffa3dbb453989194803f23a15ff {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_02a39ffa3dbb453989194803f23a15ff" ></div>
        
</body>
<script>    
    
            var map_02a39ffa3dbb453989194803f23a15ff = L.map(
                "map_02a39ffa3dbb453989194803f23a15ff",
                {
                    center: [39.5, -1.5],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f2b34805130944c7afac5a52f179e7bf = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_02a39ffa3dbb453989194803f23a15ff);
        
    
            var poly_line_bfdefe3831ed47adb4e8d34c31d5d06d = L.polyline(
                [[36.9089333, -4.7599708], [37.118565, -2.5395634], [37.4795311, -3.0432324], [39.3260685, -4.8379791], [39.2299883, -1.0619387], [40.0223607, -0.2785144], [40.6005259, -0.9229281754890264], [41.6368826, 1.854703538932815], [41.6006787, 1.8087741165263376]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_02a39ffa3dbb453989194803f23a15ff);
        
    
            var marker_cluster_7aae6168366845c09ba524c6d8800b5e = L.markerClusterGroup(
                {}
            );
            map_02a39ffa3dbb453989194803f23a15ff.addLayer(marker_cluster_7aae6168366845c09ba524c6d8800b5e);
        
    
            var marker_ae9c3aa01f7947598f82edf857c23206 = L.marker(
                [36.9089333, -4.7599708],
                {}
            ).addTo(marker_cluster_7aae6168366845c09ba524c6d8800b5e);
        
    
        var popup_804f97d9be4449a0acdae564ace5265e = L.popup({"maxWidth": 400});

        
            var html_7ff4d773d28043c28a73e498094bf702 = $(`<div id="html_7ff4d773d28043c28a73e498094bf702" style="width: 100.0%; height: 100.0%;">El Chorro, Andalucia, Spain <br> <a href=https://www.picuki.com/media/2543694288432159765 > See Post</div>`)[0];
            popup_804f97d9be4449a0acdae564ace5265e.setContent(html_7ff4d773d28043c28a73e498094bf702);
        

        marker_ae9c3aa01f7947598f82edf857c23206.bindPopup(popup_804f97d9be4449a0acdae564ace5265e)
        ;

        
    
    
            var marker_3af586c9ebf44e9dabd019b71b58ef6d = L.marker(
                [37.118565, -2.5395634],
                {}
            ).addTo(marker_cluster_7aae6168366845c09ba524c6d8800b5e);
        
    
        var popup_dc5cc47545544398809c72312ec48262 = L.popup({"maxWidth": 400});

        
            var html_3e39bec41a154d90a0ec9e37342ab904 = $(`<div id="html_3e39bec41a154d90a0ec9e37342ab904" style="width: 100.0%; height: 100.0%;">Gérgal, Spain <br> <a href=https://www.picuki.com/media/2546478718095942472 > See Post</div>`)[0];
            popup_dc5cc47545544398809c72312ec48262.setContent(html_3e39bec41a154d90a0ec9e37342ab904);
        

        marker_3af586c9ebf44e9dabd019b71b58ef6d.bindPopup(popup_dc5cc47545544398809c72312ec48262)
        ;

        
    
    
            var marker_0d58e7ae0f084575b18de7acfd175c53 = L.marker(
                [37.4795311, -3.0432324],
                {}
            ).addTo(marker_cluster_7aae6168366845c09ba524c6d8800b5e);
        
    
        var popup_1ce10537fd734efd8355bf17dacfb896 = L.popup({"maxWidth": 400});

        
            var html_e19a4153dd7b45429fceeb46711696ea = $(`<div id="html_e19a4153dd7b45429fceeb46711696ea" style="width: 100.0%; height: 100.0%;">Gorafe, Andalucia, Spain <br> <a href=https://www.picuki.com/media/2550183163400897538 > See Post</div>`)[0];
            popup_1ce10537fd734efd8355bf17dacfb896.setContent(html_e19a4153dd7b45429fceeb46711696ea);
        

        marker_0d58e7ae0f084575b18de7acfd175c53.bindPopup(popup_1ce10537fd734efd8355bf17dacfb896)
        ;

        
    
    
            var marker_38620dfc716a4289beae777dfaf0ab4a = L.marker(
                [39.3260685, -4.8379791],
                {}
            ).addTo(marker_cluster_7aae6168366845c09ba524c6d8800b5e);
        
    
        var popup_92323a404ec047418ffe2433fc833918 = L.popup({"maxWidth": 400});

        
            var html_6838b9f3c5564645a975ff9465354b15 = $(`<div id="html_6838b9f3c5564645a975ff9465354b15" style="width: 100.0%; height: 100.0%;">Spain <br> <a href=https://www.picuki.com/media/2552502234666722309 > See Post</div>`)[0];
            popup_92323a404ec047418ffe2433fc833918.setContent(html_6838b9f3c5564645a975ff9465354b15);
        

        marker_38620dfc716a4289beae777dfaf0ab4a.bindPopup(popup_92323a404ec047418ffe2433fc833918)
        ;

        
    
    
            var marker_b06c24f2cbf844fbbdab5f80a900aba2 = L.marker(
                [39.2299883, -1.0619387],
                {}
            ).addTo(marker_cluster_7aae6168366845c09ba524c6d8800b5e);
        
    
        var popup_190e799bc9d84606bc12820d4f5e281b = L.popup({"maxWidth": 400});

        
            var html_07bfb67196114206bacac866e3e4940c = $(`<div id="html_07bfb67196114206bacac866e3e4940c" style="width: 100.0%; height: 100.0%;">Cofrentes <br> <a href=https://www.picuki.com/media/2558151762270796900 > See Post</div>`)[0];
            popup_190e799bc9d84606bc12820d4f5e281b.setContent(html_07bfb67196114206bacac866e3e4940c);
        

        marker_b06c24f2cbf844fbbdab5f80a900aba2.bindPopup(popup_190e799bc9d84606bc12820d4f5e281b)
        ;

        
    
    
            var marker_76ba3b17251a4e03a1aa34b51fe4cfe2 = L.marker(
                [40.0223607, -0.2785144],
                {}
            ).addTo(marker_cluster_7aae6168366845c09ba524c6d8800b5e);
        
    
        var popup_d7fab931b0b1457ca322c55f7347f0d9 = L.popup({"maxWidth": 400});

        
            var html_986685d41ea746018c178d95ee7e3049 = $(`<div id="html_986685d41ea746018c178d95ee7e3049" style="width: 100.0%; height: 100.0%;">Ribesalbes, Valenciana, Spain <br> <a href=https://www.picuki.com/media/2558174661753126628 > See Post</div>`)[0];
            popup_d7fab931b0b1457ca322c55f7347f0d9.setContent(html_986685d41ea746018c178d95ee7e3049);
        

        marker_76ba3b17251a4e03a1aa34b51fe4cfe2.bindPopup(popup_d7fab931b0b1457ca322c55f7347f0d9)
        ;

        
    
    
            var marker_462e4d27e4df4ccba8b87485e0bdf180 = L.marker(
                [40.6005259, -0.9229281754890264],
                {}
            ).addTo(marker_cluster_7aae6168366845c09ba524c6d8800b5e);
        
    
        var popup_ac182247c7134197914443727fe394d9 = L.popup({"maxWidth": 400});

        
            var html_dad55331dc5b47b1be49638f037e7cec = $(`<div id="html_dad55331dc5b47b1be49638f037e7cec" style="width: 100.0%; height: 100.0%;">Teruel <br> <a href=https://www.picuki.com/media/2559833136488901421 > See Post</div>`)[0];
            popup_ac182247c7134197914443727fe394d9.setContent(html_dad55331dc5b47b1be49638f037e7cec);
        

        marker_462e4d27e4df4ccba8b87485e0bdf180.bindPopup(popup_ac182247c7134197914443727fe394d9)
        ;

        
    
    
            var marker_f55d04ad6dcd4ce3b3d1c1b9e1a5d3c7 = L.marker(
                [41.6368826, 1.854703538932815],
                {}
            ).addTo(marker_cluster_7aae6168366845c09ba524c6d8800b5e);
        
    
        var popup_912fa21a063a45b4b3e59da9fa35ee53 = L.popup({"maxWidth": 400});

        
            var html_202b5acd74664813bdcc061570a60603 = $(`<div id="html_202b5acd74664813bdcc061570a60603" style="width: 100.0%; height: 100.0%;">Castellbell <br> <a href=https://www.picuki.com/media/2564113069117764362 > See Post</div>`)[0];
            popup_912fa21a063a45b4b3e59da9fa35ee53.setContent(html_202b5acd74664813bdcc061570a60603);
        

        marker_f55d04ad6dcd4ce3b3d1c1b9e1a5d3c7.bindPopup(popup_912fa21a063a45b4b3e59da9fa35ee53)
        ;

        
    
    
            var marker_93ec7332c8de497ca13ba9929924db96 = L.marker(
                [41.6006787, 1.8087741165263376],
                {}
            ).addTo(marker_cluster_7aae6168366845c09ba524c6d8800b5e);
        
    
        var popup_d3156801c71340a792dc9c6308a5b878 = L.popup({"maxWidth": 400});

        
            var html_c306ccfcdefe407bb65c696f83651601 = $(`<div id="html_c306ccfcdefe407bb65c696f83651601" style="width: 100.0%; height: 100.0%;">Parc Natural Muntanya de Montserrat <br> <a href=https://www.picuki.com/media/2565473203446198061 > See Post</div>`)[0];
            popup_d3156801c71340a792dc9c6308a5b878.setContent(html_c306ccfcdefe407bb65c696f83651601);
        

        marker_93ec7332c8de497ca13ba9929924db96.bindPopup(popup_d3156801c71340a792dc9c6308a5b878)
        ;

        
    
</script>