<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ad28e179945e4a198b950b26ea93f43d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_ad28e179945e4a198b950b26ea93f43d" ></div>
        
</body>
<script>    
    
            var map_ad28e179945e4a198b950b26ea93f43d = L.map(
                "map_ad28e179945e4a198b950b26ea93f43d",
                {
                    center: [-33.4, 18.8],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6aa769f773f947909dd43641e3477f4c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ad28e179945e4a198b950b26ea93f43d);
        
    
            var marker_cluster_1eb85b4d642743f381307684df83c236 = L.markerClusterGroup(
                {}
            );
            map_ad28e179945e4a198b950b26ea93f43d.addLayer(marker_cluster_1eb85b4d642743f381307684df83c236);
        
    
            var marker_ee30120ae7974e248d24281eb863032b = L.marker(
                [11.5024338, 17.7578122],
                {}
            ).addTo(marker_cluster_1eb85b4d642743f381307684df83c236);
        
    
        var popup_e496b076f93d451881f40cb1b84b91e2 = L.popup({"maxWidth": 400});

        
            var html_7b99e1b5f88f4849bc76bab2b1529638 = $(`<div id="html_7b99e1b5f88f4849bc76bab2b1529638" style="width: 100.0%; height: 100.0%;">Africa <br> <a href=https://www.picuki.com/media/2530775927641018536 > See Post</div>`)[0];
            popup_e496b076f93d451881f40cb1b84b91e2.setContent(html_7b99e1b5f88f4849bc76bab2b1529638);
        

        marker_ee30120ae7974e248d24281eb863032b.bindPopup(popup_e496b076f93d451881f40cb1b84b91e2)
        ;

        
    
    
            var marker_c0b4fb1e59434b47b60f817d57664433 = L.marker(
                [-34.23, 19.428333],
                {}
            ).addTo(marker_cluster_1eb85b4d642743f381307684df83c236);
        
    
        var popup_b82f454fec4745aa91e97cbecbef795d = L.popup({"maxWidth": 400});

        
            var html_ee6acf8d8ba648c0b03a2d15e1833c46 = $(`<div id="html_ee6acf8d8ba648c0b03a2d15e1833c46" style="width: 100.0%; height: 100.0%;">Caledon, Western Cape <br> <a href=https://www.picuki.com/media/2534834726714481670 > See Post</div>`)[0];
            popup_b82f454fec4745aa91e97cbecbef795d.setContent(html_ee6acf8d8ba648c0b03a2d15e1833c46);
        

        marker_c0b4fb1e59434b47b60f817d57664433.bindPopup(popup_b82f454fec4745aa91e97cbecbef795d)
        ;

        
    
    
            var marker_9fe13f13b7e445a4a595f68c2a8e42c7 = L.marker(
                [-34.0775777, 18.356445],
                {}
            ).addTo(marker_cluster_1eb85b4d642743f381307684df83c236);
        
    
        var popup_e23358e3852e47c4b881b630c58069f5 = L.popup({"maxWidth": 400});

        
            var html_eae84949665c4ca2b45ae7ebd65d5fa5 = $(`<div id="html_eae84949665c4ca2b45ae7ebd65d5fa5" style="width: 100.0%; height: 100.0%;">Chapman’s Peak View Point <br> <a href=https://www.picuki.com/media/2539260610150175754 > See Post</div>`)[0];
            popup_e23358e3852e47c4b881b630c58069f5.setContent(html_eae84949665c4ca2b45ae7ebd65d5fa5);
        

        marker_9fe13f13b7e445a4a595f68c2a8e42c7.bindPopup(popup_e23358e3852e47c4b881b630c58069f5)
        ;

        
    
    
            var marker_660a0147aa204b6886aef90eb5ce7e5c = L.marker(
                [-33.9734352, 18.469151231773292],
                {}
            ).addTo(marker_cluster_1eb85b4d642743f381307684df83c236);
        
    
        var popup_2b700a88e2c34a389108d58212ae75bf = L.popup({"maxWidth": 400});

        
            var html_0c9f3050f65d42768401f33414a2b532 = $(`<div id="html_0c9f3050f65d42768401f33414a2b532" style="width: 100.0%; height: 100.0%;">Newlands Cricket Ground <br> <a href=https://www.picuki.com/media/2541353923355583137 > See Post</div>`)[0];
            popup_2b700a88e2c34a389108d58212ae75bf.setContent(html_0c9f3050f65d42768401f33414a2b532);
        

        marker_660a0147aa204b6886aef90eb5ce7e5c.bindPopup(popup_2b700a88e2c34a389108d58212ae75bf)
        ;

        
    
    
            var marker_f7a60a0cc55144bfae8ac1c0ccb56a5d = L.marker(
                [-34.123956, 18.4530177],
                {}
            ).addTo(marker_cluster_1eb85b4d642743f381307684df83c236);
        
    
        var popup_88f25557d13141e7adce215eac88169c = L.popup({"maxWidth": 400});

        
            var html_5dd9fd9474b640b9b036f978bb486db4 = $(`<div id="html_5dd9fd9474b640b9b036f978bb486db4" style="width: 100.0%; height: 100.0%;">Dalebrook Tidal Pool <br> <a href=https://www.picuki.com/media/2550823706056584183 > See Post</div>`)[0];
            popup_88f25557d13141e7adce215eac88169c.setContent(html_5dd9fd9474b640b9b036f978bb486db4);
        

        marker_f7a60a0cc55144bfae8ac1c0ccb56a5d.bindPopup(popup_88f25557d13141e7adce215eac88169c)
        ;

        
    
    
            var marker_9f8b12cc5a3b44ef829785b87955f51e = L.marker(
                [-33.9509089, 18.37773090386552],
                {}
            ).addTo(marker_cluster_1eb85b4d642743f381307684df83c236);
        
    
        var popup_544600aa3a9c499ea207d7dca6a3ce6f = L.popup({"maxWidth": 400});

        
            var html_12601e88c5a949d29cfd53d628bd7036 = $(`<div id="html_12601e88c5a949d29cfd53d628bd7036" style="width: 100.0%; height: 100.0%;">Camps Bay Beach ,Cape Town <br> <a href=https://www.picuki.com/media/2552924793311875852 > See Post</div>`)[0];
            popup_544600aa3a9c499ea207d7dca6a3ce6f.setContent(html_12601e88c5a949d29cfd53d628bd7036);
        

        marker_9f8b12cc5a3b44ef829785b87955f51e.bindPopup(popup_544600aa3a9c499ea207d7dca6a3ce6f)
        ;

        
    
    
            var marker_f4704bac3ffd4fc2bf896ef3c02e1532 = L.marker(
                [-33.9617001, 18.422761521953632],
                {}
            ).addTo(marker_cluster_1eb85b4d642743f381307684df83c236);
        
    
        var popup_d789f238b61345c09e9f9c693778d5c7 = L.popup({"maxWidth": 400});

        
            var html_af170d74d4f74a79a7ee981f2f44d620 = $(`<div id="html_af170d74d4f74a79a7ee981f2f44d620" style="width: 100.0%; height: 100.0%;">Table Mountain National Park <br> <a href=https://www.picuki.com/media/2555107219152849651 > See Post</div>`)[0];
            popup_d789f238b61345c09e9f9c693778d5c7.setContent(html_af170d74d4f74a79a7ee981f2f44d620);
        

        marker_f4704bac3ffd4fc2bf896ef3c02e1532.bindPopup(popup_d789f238b61345c09e9f9c693778d5c7)
        ;

        
    
    
            var marker_b5f9896583be40e294811520897930f8 = L.marker(
                [-32.3650375, 19.112815948553493],
                {}
            ).addTo(marker_cluster_1eb85b4d642743f381307684df83c236);
        
    
        var popup_383ed6f293c24e1ca98a93af55d25e0c = L.popup({"maxWidth": 400});

        
            var html_f42d1b9d07c6464db9e8701d9e5cfade = $(`<div id="html_f42d1b9d07c6464db9e8701d9e5cfade" style="width: 100.0%; height: 100.0%;">Cederberg Wilderness Area <br> <a href=https://www.picuki.com/media/2556579435820378016 > See Post</div>`)[0];
            popup_383ed6f293c24e1ca98a93af55d25e0c.setContent(html_f42d1b9d07c6464db9e8701d9e5cfade);
        

        marker_b5f9896583be40e294811520897930f8.bindPopup(popup_383ed6f293c24e1ca98a93af55d25e0c)
        ;

        
    
    
            var marker_d5fe111969ad483480ed84be0898c19a = L.marker(
                [-32.5005556, 19.2569444],
                {}
            ).addTo(marker_cluster_1eb85b4d642743f381307684df83c236);
        
    
        var popup_37dd831825a146819c100beb6134991c = L.popup({"maxWidth": 400});

        
            var html_032b0d78acf6451ca1c28f33a4131d3f = $(`<div id="html_032b0d78acf6451ca1c28f33a4131d3f" style="width: 100.0%; height: 100.0%;">Cederberg <br> <a href=https://www.picuki.com/media/2558737038579263395 > See Post</div>`)[0];
            popup_37dd831825a146819c100beb6134991c.setContent(html_032b0d78acf6451ca1c28f33a4131d3f);
        

        marker_d5fe111969ad483480ed84be0898c19a.bindPopup(popup_37dd831825a146819c100beb6134991c)
        ;

        
    
    
            var marker_acf062c2534d49e880d7c19793a46975 = L.marker(
                [-28.8166236, 24.991639],
                {}
            ).addTo(marker_cluster_1eb85b4d642743f381307684df83c236);
        
    
        var popup_5825567aeeca4371bbf30df3046022d8 = L.popup({"maxWidth": 400});

        
            var html_444c7d5409874ca8895d771f1e527520 = $(`<div id="html_444c7d5409874ca8895d771f1e527520" style="width: 100.0%; height: 100.0%;">South Africa <br> <a href=https://www.picuki.com/media/2560948346699471670 > See Post</div>`)[0];
            popup_5825567aeeca4371bbf30df3046022d8.setContent(html_444c7d5409874ca8895d771f1e527520);
        

        marker_acf062c2534d49e880d7c19793a46975.bindPopup(popup_5825567aeeca4371bbf30df3046022d8)
        ;

        
    
</script>