<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_715f59c9c9be445d89f47ea2f342dd50 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_715f59c9c9be445d89f47ea2f342dd50" ></div>
        
</body>
<script>    
    
            var map_715f59c9c9be445d89f47ea2f342dd50 = L.map(
                "map_715f59c9c9be445d89f47ea2f342dd50",
                {
                    center: [55.0, 2.64],
                    crs: L.CRS.EPSG3857,
                    zoom: 4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_47799fd37c3b43318004b3f73d9a433c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_715f59c9c9be445d89f47ea2f342dd50);
        
    
            var marker_cluster_14348a8716d64dc9ae6043ff0a4bdf39 = L.markerClusterGroup(
                {}
            );
            map_715f59c9c9be445d89f47ea2f342dd50.addLayer(marker_cluster_14348a8716d64dc9ae6043ff0a4bdf39);
        
    
            var marker_0f45f2d6952f4190be2d4c0d6344da3c = L.marker(
                [58.0441506, -5.207476],
                {}
            ).addTo(marker_cluster_14348a8716d64dc9ae6043ff0a4bdf39);
        
    
        var popup_7881a609530b40e8bc5c0559c54a837e = L.popup({"maxWidth": 400});

        
            var html_bfa2520cb99741b9a9b1834e227bcb98 = $(`<div id="html_bfa2520cb99741b9a9b1834e227bcb98" style="width: 100.0%; height: 100.0%;">Stac Pollaidh <br> <a href=https://www.picuki.com/media/2527146168570101401 > See Post</div>`)[0];
            popup_7881a609530b40e8bc5c0559c54a837e.setContent(html_bfa2520cb99741b9a9b1834e227bcb98);
        

        marker_0f45f2d6952f4190be2d4c0d6344da3c.bindPopup(popup_7881a609530b40e8bc5c0559c54a837e)
        ;

        
    
    
            var marker_bd1e524b49c0429697ddb5dc504d7614 = L.marker(
                [60.1329516, 6.7540404],
                {}
            ).addTo(marker_cluster_14348a8716d64dc9ae6043ff0a4bdf39);
        
    
        var popup_6f1a97d01a274848b8665839c3b6c2bf = L.popup({"maxWidth": 400});

        
            var html_3385e605817d479493d0cca19d1f35af = $(`<div id="html_3385e605817d479493d0cca19d1f35af" style="width: 100.0%; height: 100.0%;">Trolltunga, Norway <br> <a href=https://www.picuki.com/media/2527863899632422461 > See Post</div>`)[0];
            popup_6f1a97d01a274848b8665839c3b6c2bf.setContent(html_3385e605817d479493d0cca19d1f35af);
        

        marker_bd1e524b49c0429697ddb5dc504d7614.bindPopup(popup_6f1a97d01a274848b8665839c3b6c2bf)
        ;

        
    
    
            var marker_1e56cddb2deb470fbe1f32bab9cd7435 = L.marker(
                [56.5667883, -4.8707776],
                {}
            ).addTo(marker_cluster_14348a8716d64dc9ae6043ff0a4bdf39);
        
    
        var popup_749db7fe4b0646c79b006b705da21754 = L.popup({"maxWidth": 400});

        
            var html_4d8d8901dcfb41b7a70d74f79fd63a80 = $(`<div id="html_4d8d8901dcfb41b7a70d74f79fd63a80" style="width: 100.0%; height: 100.0%;">Aonach Eagach <br> <a href=https://www.picuki.com/media/2532229571183335031 > See Post</div>`)[0];
            popup_749db7fe4b0646c79b006b705da21754.setContent(html_4d8d8901dcfb41b7a70d74f79fd63a80);
        

        marker_1e56cddb2deb470fbe1f32bab9cd7435.bindPopup(popup_749db7fe4b0646c79b006b705da21754)
        ;

        
    
    
            var marker_72d1a2164a3e40d2aca5d22232b92e6b = L.marker(
                [46.6178075, 12.298379872784528],
                {}
            ).addTo(marker_cluster_14348a8716d64dc9ae6043ff0a4bdf39);
        
    
        var popup_afba69c297b547a3b7c2bc45ea7b5d19 = L.popup({"maxWidth": 400});

        
            var html_ce8471233d8044758e613f463a9dc71a = $(`<div id="html_ce8471233d8044758e613f463a9dc71a" style="width: 100.0%; height: 100.0%;">Tre Cime di Lavaredo <br> <a href=https://www.picuki.com/media/2534334471765712642 > See Post</div>`)[0];
            popup_afba69c297b547a3b7c2bc45ea7b5d19.setContent(html_ce8471233d8044758e613f463a9dc71a);
        

        marker_72d1a2164a3e40d2aca5d22232b92e6b.bindPopup(popup_afba69c297b547a3b7c2bc45ea7b5d19)
        ;

        
    
    
            var marker_23ffd66c997b4520ab4f845ae85bfba8 = L.marker(
                [57.8023457, -5.2542535],
                {}
            ).addTo(marker_cluster_14348a8716d64dc9ae6043ff0a4bdf39);
        
    
        var popup_5273b39af32c4b859de2bdbff2018228 = L.popup({"maxWidth": 400});

        
            var html_dd7f34c0b9fb490f833a4207232aa131 = $(`<div id="html_dd7f34c0b9fb490f833a4207232aa131" style="width: 100.0%; height: 100.0%;">An Teallach <br> <a href=https://www.picuki.com/media/2536575135375048202 > See Post</div>`)[0];
            popup_5273b39af32c4b859de2bdbff2018228.setContent(html_dd7f34c0b9fb490f833a4207232aa131);
        

        marker_23ffd66c997b4520ab4f845ae85bfba8.bindPopup(popup_5273b39af32c4b859de2bdbff2018228)
        ;

        
    
    
            var marker_2ca420806413402d8855392dc3914db6 = L.marker(
                [-29.4779935, 29.2673172],
                {}
            ).addTo(marker_cluster_14348a8716d64dc9ae6043ff0a4bdf39);
        
    
        var popup_0b1f86410de7417c92d83235c15c1564 = L.popup({"maxWidth": 400});

        
            var html_6a321a590e804d83911c7159a65cab0b = $(`<div id="html_6a321a590e804d83911c7159a65cab0b" style="width: 100.0%; height: 100.0%;">Drakensberg <br> <a href=https://www.picuki.com/media/2540934891070002241 > See Post</div>`)[0];
            popup_0b1f86410de7417c92d83235c15c1564.setContent(html_6a321a590e804d83911c7159a65cab0b);
        

        marker_2ca420806413402d8855392dc3914db6.bindPopup(popup_0b1f86410de7417c92d83235c15c1564)
        ;

        
    
    
            var marker_375fe4d5151c4524a9665028c34acb7f = L.marker(
                [56.8, -5.0],
                {}
            ).addTo(marker_cluster_14348a8716d64dc9ae6043ff0a4bdf39);
        
    
        var popup_b0034f2ff60c4014bfb87b7e79bcb929 = L.popup({"maxWidth": 400});

        
            var html_200f7520619f43b4bde60473ea1243fd = $(`<div id="html_200f7520619f43b4bde60473ea1243fd" style="width: 100.0%; height: 100.0%;">Scottish Highlands <br> <a href=https://www.picuki.com/media/2541619132057513071 > See Post</div>`)[0];
            popup_b0034f2ff60c4014bfb87b7e79bcb929.setContent(html_200f7520619f43b4bde60473ea1243fd);
        

        marker_375fe4d5151c4524a9665028c34acb7f.bindPopup(popup_b0034f2ff60c4014bfb87b7e79bcb929)
        ;

        
    
    
            var marker_cf3680206c7641b89690fc0d11d3793e = L.marker(
                [58.1379667, -4.8585225],
                {}
            ).addTo(marker_cluster_14348a8716d64dc9ae6043ff0a4bdf39);
        
    
        var popup_c2fcbcd6da954c48a4142099ff68dd17 = L.popup({"maxWidth": 400});

        
            var html_6b455a6221ad42e3ba76ac89e48c3481 = $(`<div id="html_6b455a6221ad42e3ba76ac89e48c3481" style="width: 100.0%; height: 100.0%;">Assynt <br> <a href=https://www.picuki.com/media/2545936899699063213 > See Post</div>`)[0];
            popup_c2fcbcd6da954c48a4142099ff68dd17.setContent(html_6b455a6221ad42e3ba76ac89e48c3481);
        

        marker_cf3680206c7641b89690fc0d11d3793e.bindPopup(popup_c2fcbcd6da954c48a4142099ff68dd17)
        ;

        
    
    
            var marker_9ca5507176584f99b04db63348e8d55a = L.marker(
                [44.1349412, 9.6827757],
                {}
            ).addTo(marker_cluster_14348a8716d64dc9ae6043ff0a4bdf39);
        
    
        var popup_d1be3cd9b83542c18bad2cea0de72e27 = L.popup({"maxWidth": 400});

        
            var html_2ec0a6b863cf4ec19a220b2dd6685b3f = $(`<div id="html_2ec0a6b863cf4ec19a220b2dd6685b3f" style="width: 100.0%; height: 100.0%;">Vernazza <br> <a href=https://www.picuki.com/media/2556875476288997988 > See Post</div>`)[0];
            popup_d1be3cd9b83542c18bad2cea0de72e27.setContent(html_2ec0a6b863cf4ec19a220b2dd6685b3f);
        

        marker_9ca5507176584f99b04db63348e8d55a.bindPopup(popup_d1be3cd9b83542c18bad2cea0de72e27)
        ;

        
    
    
            var marker_47defa8574a34a73825ed1db1940afba = L.marker(
                [56.87582355, -5.4293199131217245],
                {}
            ).addTo(marker_cluster_14348a8716d64dc9ae6043ff0a4bdf39);
        
    
        var popup_47752f9503d6425c840f6754e792b487 = L.popup({"maxWidth": 400});

        
            var html_09fe54273f064348a9a1ae0e335f8092 = $(`<div id="html_09fe54273f064348a9a1ae0e335f8092" style="width: 100.0%; height: 100.0%;">Glenfinnan Viaduct <br> <a href=https://www.picuki.com/media/2557576599769602857 > See Post</div>`)[0];
            popup_47752f9503d6425c840f6754e792b487.setContent(html_09fe54273f064348a9a1ae0e335f8092);
        

        marker_47defa8574a34a73825ed1db1940afba.bindPopup(popup_47752f9503d6425c840f6754e792b487)
        ;

        
    
</script>