<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_95f09c3d72ce4c4893628887175dc5af {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_95f09c3d72ce4c4893628887175dc5af" ></div>
        
</body>
<script>    
    
            var map_95f09c3d72ce4c4893628887175dc5af = L.map(
                "map_95f09c3d72ce4c4893628887175dc5af",
                {
                    center: [55.0, 2.64],
                    crs: L.CRS.EPSG3857,
                    zoom: 4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d7ae231fa78543cfb00ab0a7b45d85b3 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_95f09c3d72ce4c4893628887175dc5af);
        
    
            var marker_cluster_219ce8f7f0004ea38f21be4b9e3b6672 = L.markerClusterGroup(
                {}
            );
            map_95f09c3d72ce4c4893628887175dc5af.addLayer(marker_cluster_219ce8f7f0004ea38f21be4b9e3b6672);
        
    
            var marker_27fc118eebe94cd680213ad61f382034 = L.marker(
                [58.0441506, -5.207476],
                {}
            ).addTo(marker_cluster_219ce8f7f0004ea38f21be4b9e3b6672);
        
    
        var popup_f861757499504dfb9f1dd700226c1038 = L.popup({"maxWidth": 400});

        
            var html_9aa9212847d6432fb49793c643dfee3b = $(`<div id="html_9aa9212847d6432fb49793c643dfee3b" style="width: 100.0%; height: 100.0%;">Stac Pollaidh <br> <a href=https://www.picuki.com/media/2527146168570101401 > See Post</div>`)[0];
            popup_f861757499504dfb9f1dd700226c1038.setContent(html_9aa9212847d6432fb49793c643dfee3b);
        

        marker_27fc118eebe94cd680213ad61f382034.bindPopup(popup_f861757499504dfb9f1dd700226c1038)
        ;

        
    
    
            var marker_ae4948b3c4d94ece8464022251af4370 = L.marker(
                [60.1329516, 6.7540404],
                {}
            ).addTo(marker_cluster_219ce8f7f0004ea38f21be4b9e3b6672);
        
    
        var popup_627cdb6e5a4441eab890cbcf915b4b4b = L.popup({"maxWidth": 400});

        
            var html_e27ad5608cbc48c087852b3a9ca2d41c = $(`<div id="html_e27ad5608cbc48c087852b3a9ca2d41c" style="width: 100.0%; height: 100.0%;">Trolltunga, Norway <br> <a href=https://www.picuki.com/media/2527863899632422461 > See Post</div>`)[0];
            popup_627cdb6e5a4441eab890cbcf915b4b4b.setContent(html_e27ad5608cbc48c087852b3a9ca2d41c);
        

        marker_ae4948b3c4d94ece8464022251af4370.bindPopup(popup_627cdb6e5a4441eab890cbcf915b4b4b)
        ;

        
    
    
            var marker_b9241632b3a64e1cb52dbea879322753 = L.marker(
                [56.5667883, -4.8707776],
                {}
            ).addTo(marker_cluster_219ce8f7f0004ea38f21be4b9e3b6672);
        
    
        var popup_a0027cf5ebe9491aa9436e524abe6d48 = L.popup({"maxWidth": 400});

        
            var html_35418a5bcc6f49d88dc9e6917cb699c0 = $(`<div id="html_35418a5bcc6f49d88dc9e6917cb699c0" style="width: 100.0%; height: 100.0%;">Aonach Eagach <br> <a href=https://www.picuki.com/media/2532229571183335031 > See Post</div>`)[0];
            popup_a0027cf5ebe9491aa9436e524abe6d48.setContent(html_35418a5bcc6f49d88dc9e6917cb699c0);
        

        marker_b9241632b3a64e1cb52dbea879322753.bindPopup(popup_a0027cf5ebe9491aa9436e524abe6d48)
        ;

        
    
    
            var marker_8ca8631f5e6e4deea80c46fa7bd497ae = L.marker(
                [46.6178075, 12.298379872784528],
                {}
            ).addTo(marker_cluster_219ce8f7f0004ea38f21be4b9e3b6672);
        
    
        var popup_b1d1bd7b2ac840e39cf1b6d4bfb78a38 = L.popup({"maxWidth": 400});

        
            var html_be8f7d52183d4d04aa2337e620858ed8 = $(`<div id="html_be8f7d52183d4d04aa2337e620858ed8" style="width: 100.0%; height: 100.0%;">Tre Cime di Lavaredo <br> <a href=https://www.picuki.com/media/2534334471765712642 > See Post</div>`)[0];
            popup_b1d1bd7b2ac840e39cf1b6d4bfb78a38.setContent(html_be8f7d52183d4d04aa2337e620858ed8);
        

        marker_8ca8631f5e6e4deea80c46fa7bd497ae.bindPopup(popup_b1d1bd7b2ac840e39cf1b6d4bfb78a38)
        ;

        
    
    
            var marker_b0561519819742afba7383f083f68cd3 = L.marker(
                [57.8023457, -5.2542535],
                {}
            ).addTo(marker_cluster_219ce8f7f0004ea38f21be4b9e3b6672);
        
    
        var popup_c80b5fa82e7b45318637ecd45a8c0266 = L.popup({"maxWidth": 400});

        
            var html_17c8db5d6bc34e22aadb673daef34ea9 = $(`<div id="html_17c8db5d6bc34e22aadb673daef34ea9" style="width: 100.0%; height: 100.0%;">An Teallach <br> <a href=https://www.picuki.com/media/2536575135375048202 > See Post</div>`)[0];
            popup_c80b5fa82e7b45318637ecd45a8c0266.setContent(html_17c8db5d6bc34e22aadb673daef34ea9);
        

        marker_b0561519819742afba7383f083f68cd3.bindPopup(popup_c80b5fa82e7b45318637ecd45a8c0266)
        ;

        
    
    
            var marker_51e8143af4834b3692d345f9cb75658f = L.marker(
                [-29.4779935, 29.2673172],
                {}
            ).addTo(marker_cluster_219ce8f7f0004ea38f21be4b9e3b6672);
        
    
        var popup_cbbb52adeccc443089cea8c8b4109678 = L.popup({"maxWidth": 400});

        
            var html_f7211c20e5704b148255128dc49f14f1 = $(`<div id="html_f7211c20e5704b148255128dc49f14f1" style="width: 100.0%; height: 100.0%;">Drakensberg <br> <a href=https://www.picuki.com/media/2540934891070002241 > See Post</div>`)[0];
            popup_cbbb52adeccc443089cea8c8b4109678.setContent(html_f7211c20e5704b148255128dc49f14f1);
        

        marker_51e8143af4834b3692d345f9cb75658f.bindPopup(popup_cbbb52adeccc443089cea8c8b4109678)
        ;

        
    
    
            var marker_6c8f2decafa5444c9d55ecfa2db176c0 = L.marker(
                [56.8, -5.0],
                {}
            ).addTo(marker_cluster_219ce8f7f0004ea38f21be4b9e3b6672);
        
    
        var popup_102b8099c10141049df0d34d9e3858f0 = L.popup({"maxWidth": 400});

        
            var html_f3eadfa1c44c45bf91475d598fe49564 = $(`<div id="html_f3eadfa1c44c45bf91475d598fe49564" style="width: 100.0%; height: 100.0%;">Scottish Highlands <br> <a href=https://www.picuki.com/media/2541619132057513071 > See Post</div>`)[0];
            popup_102b8099c10141049df0d34d9e3858f0.setContent(html_f3eadfa1c44c45bf91475d598fe49564);
        

        marker_6c8f2decafa5444c9d55ecfa2db176c0.bindPopup(popup_102b8099c10141049df0d34d9e3858f0)
        ;

        
    
    
            var marker_c36cec32fe464e5882fda23146cd2512 = L.marker(
                [58.1379667, -4.8585225],
                {}
            ).addTo(marker_cluster_219ce8f7f0004ea38f21be4b9e3b6672);
        
    
        var popup_83f447b73c5940c5b1d0adf403f069b4 = L.popup({"maxWidth": 400});

        
            var html_84305d60eeed4d8e95b3950c2374b84a = $(`<div id="html_84305d60eeed4d8e95b3950c2374b84a" style="width: 100.0%; height: 100.0%;">Assynt <br> <a href=https://www.picuki.com/media/2545936899699063213 > See Post</div>`)[0];
            popup_83f447b73c5940c5b1d0adf403f069b4.setContent(html_84305d60eeed4d8e95b3950c2374b84a);
        

        marker_c36cec32fe464e5882fda23146cd2512.bindPopup(popup_83f447b73c5940c5b1d0adf403f069b4)
        ;

        
    
    
            var marker_3bf02a1d790a444bb431cb8149682065 = L.marker(
                [44.1349412, 9.6827757],
                {}
            ).addTo(marker_cluster_219ce8f7f0004ea38f21be4b9e3b6672);
        
    
        var popup_eabf2fb665374a748f62149733ed35ff = L.popup({"maxWidth": 400});

        
            var html_a8cdd6d6779745a1b82dd70bed02bc50 = $(`<div id="html_a8cdd6d6779745a1b82dd70bed02bc50" style="width: 100.0%; height: 100.0%;">Vernazza <br> <a href=https://www.picuki.com/media/2556875476288997988 > See Post</div>`)[0];
            popup_eabf2fb665374a748f62149733ed35ff.setContent(html_a8cdd6d6779745a1b82dd70bed02bc50);
        

        marker_3bf02a1d790a444bb431cb8149682065.bindPopup(popup_eabf2fb665374a748f62149733ed35ff)
        ;

        
    
    
            var marker_88c5e968ea2d4376a384b6a465845663 = L.marker(
                [56.87582355, -5.4293199131217245],
                {}
            ).addTo(marker_cluster_219ce8f7f0004ea38f21be4b9e3b6672);
        
    
        var popup_0ae5f49be0ec47c29849e131b0c61bfb = L.popup({"maxWidth": 400});

        
            var html_1475483239cb4dc5bb8c999f9e6cc248 = $(`<div id="html_1475483239cb4dc5bb8c999f9e6cc248" style="width: 100.0%; height: 100.0%;">Glenfinnan Viaduct <br> <a href=https://www.picuki.com/media/2557576599769602857 > See Post</div>`)[0];
            popup_0ae5f49be0ec47c29849e131b0c61bfb.setContent(html_1475483239cb4dc5bb8c999f9e6cc248);
        

        marker_88c5e968ea2d4376a384b6a465845663.bindPopup(popup_0ae5f49be0ec47c29849e131b0c61bfb)
        ;

        
    
    
            var marker_99ed033c58d8488d84fb9a7ad728ae41 = L.marker(
                [55.1365816, -6.3846295],
                {}
            ).addTo(marker_cluster_219ce8f7f0004ea38f21be4b9e3b6672);
        
    
        var popup_602e8075e4b545bf934ea7cbbe48b577 = L.popup({"maxWidth": 400});

        
            var html_da12a9ef6fa84a998f95d517a8e86be6 = $(`<div id="html_da12a9ef6fa84a998f95d517a8e86be6" style="width: 100.0%; height: 100.0%;">The Dark Hedges <br> <a href=https://www.picuki.com/media/2560543847543159722 > See Post</div>`)[0];
            popup_602e8075e4b545bf934ea7cbbe48b577.setContent(html_da12a9ef6fa84a998f95d517a8e86be6);
        

        marker_99ed033c58d8488d84fb9a7ad728ae41.bindPopup(popup_602e8075e4b545bf934ea7cbbe48b577)
        ;

        
    
</script>