<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_31fd2ee2b557416ca381298d0e58da50 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_31fd2ee2b557416ca381298d0e58da50" ></div>
        
</body>
<script>    
    
            var map_31fd2ee2b557416ca381298d0e58da50 = L.map(
                "map_31fd2ee2b557416ca381298d0e58da50",
                {
                    center: [-34.1, 18.42],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7f36bbf53a37497885f09f961bc3911d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_31fd2ee2b557416ca381298d0e58da50);
        
    
            var marker_cluster_d0f231bcd9ca4352a303bdd00e1ae444 = L.markerClusterGroup(
                {}
            );
            map_31fd2ee2b557416ca381298d0e58da50.addLayer(marker_cluster_d0f231bcd9ca4352a303bdd00e1ae444);
        
    
            var marker_66d7b087bae9489faf0568d5ef3d8b6e = L.marker(
                [-33.928992, 18.417396],
                {}
            ).addTo(marker_cluster_d0f231bcd9ca4352a303bdd00e1ae444);
        
    
        var popup_bfe31db060af456488555d6456772606 = L.popup({"maxWidth": 400});

        
            var html_dba1558cd43d4a98a62191849f3b9cfa = $(`<div id="html_dba1558cd43d4a98a62191849f3b9cfa" style="width: 100.0%; height: 100.0%;">Cape Town, Western Cape <br> <a href=https://www.picuki.com/media/2500145399972234259 > See Post</div>`)[0];
            popup_bfe31db060af456488555d6456772606.setContent(html_dba1558cd43d4a98a62191849f3b9cfa);
        

        marker_66d7b087bae9489faf0568d5ef3d8b6e.bindPopup(popup_bfe31db060af456488555d6456772606)
        ;

        
    
    
            var marker_615b547dff2b4b11a4c199d7a525d6c8 = L.marker(
                [-33.9352848, 18.3790703],
                {}
            ).addTo(marker_cluster_d0f231bcd9ca4352a303bdd00e1ae444);
        
    
        var popup_acbe44962a5b40288e03aeee3d2f08c4 = L.popup({"maxWidth": 400});

        
            var html_cc1d78bfc6bf41478685de91e2a65adf = $(`<div id="html_cc1d78bfc6bf41478685de91e2a65adf" style="width: 100.0%; height: 100.0%;">Clifton, Western Cape, South Africa <br> <a href=https://www.picuki.com/media/2511054253272071988 > See Post</div>`)[0];
            popup_acbe44962a5b40288e03aeee3d2f08c4.setContent(html_cc1d78bfc6bf41478685de91e2a65adf);
        

        marker_615b547dff2b4b11a4c199d7a525d6c8.bindPopup(popup_acbe44962a5b40288e03aeee3d2f08c4)
        ;

        
    
    
            var marker_f2008831492c4761809007d5258db634 = L.marker(
                [-33.954773599999996, 18.38185236529182],
                {}
            ).addTo(marker_cluster_d0f231bcd9ca4352a303bdd00e1ae444);
        
    
        var popup_cd8106b436754237907a3f0380edc9f8 = L.popup({"maxWidth": 400});

        
            var html_73d88091e02c469e80f64d3ca3e2b219 = $(`<div id="html_73d88091e02c469e80f64d3ca3e2b219" style="width: 100.0%; height: 100.0%;">Camps Bay, Western Cape, South Africa <br> <a href=https://www.picuki.com/media/2523579655206918258 > See Post</div>`)[0];
            popup_cd8106b436754237907a3f0380edc9f8.setContent(html_73d88091e02c469e80f64d3ca3e2b219);
        

        marker_f2008831492c4761809007d5258db634.bindPopup(popup_cd8106b436754237907a3f0380edc9f8)
        ;

        
    
    
            var marker_76388033071d4342a89a030cfeef8805 = L.marker(
                [-33.9617001, 18.422761521953632],
                {}
            ).addTo(marker_cluster_d0f231bcd9ca4352a303bdd00e1ae444);
        
    
        var popup_8312d8e1746d44ec96d2a8d5d681832e = L.popup({"maxWidth": 400});

        
            var html_6a0e577ddfd247b6af16b4bbae5ee228 = $(`<div id="html_6a0e577ddfd247b6af16b4bbae5ee228" style="width: 100.0%; height: 100.0%;">Table Mountain National Park <br> <a href=https://www.picuki.com/media/2546045914274700043 > See Post</div>`)[0];
            popup_8312d8e1746d44ec96d2a8d5d681832e.setContent(html_6a0e577ddfd247b6af16b4bbae5ee228);
        

        marker_76388033071d4342a89a030cfeef8805.bindPopup(popup_8312d8e1746d44ec96d2a8d5d681832e)
        ;

        
    
    
            var marker_02c9314729274b2383ccea29a290d440 = L.marker(
                [-33.998768150000004, 18.42640811313202],
                {}
            ).addTo(marker_cluster_d0f231bcd9ca4352a303bdd00e1ae444);
        
    
        var popup_d22c0138305d480e94847cba98b87d38 = L.popup({"maxWidth": 400});

        
            var html_73ae5555543f4c0d83d07b44fc6e734f = $(`<div id="html_73ae5555543f4c0d83d07b44fc6e734f" style="width: 100.0%; height: 100.0%;">Cecilia Forest, Constantia Forest <br> <a href=https://www.picuki.com/media/2548241665889345189 > See Post</div>`)[0];
            popup_d22c0138305d480e94847cba98b87d38.setContent(html_73ae5555543f4c0d83d07b44fc6e734f);
        

        marker_02c9314729274b2383ccea29a290d440.bindPopup(popup_d22c0138305d480e94847cba98b87d38)
        ;

        
    
    
            var marker_acb663193c7c4b7fa3fd931e07e1695e = L.marker(
                [-34.3314458, 18.4670252],
                {}
            ).addTo(marker_cluster_d0f231bcd9ca4352a303bdd00e1ae444);
        
    
        var popup_5d0db1b0e6a1441fa6492029f06675f4 = L.popup({"maxWidth": 400});

        
            var html_2ec74c4925da40d089a2e08c7ce415ee = $(`<div id="html_2ec74c4925da40d089a2e08c7ce415ee" style="width: 100.0%; height: 100.0%;">Cape Point National Park <br> <a href=https://www.picuki.com/media/2556217929899970558 > See Post</div>`)[0];
            popup_5d0db1b0e6a1441fa6492029f06675f4.setContent(html_2ec74c4925da40d089a2e08c7ce415ee);
        

        marker_acb663193c7c4b7fa3fd931e07e1695e.bindPopup(popup_5d0db1b0e6a1441fa6492029f06675f4)
        ;

        
    
    
            var marker_da10c090aca24873863ba43168479a8d = L.marker(
                [-34.789385, 20.023136480492216],
                {}
            ).addTo(marker_cluster_d0f231bcd9ca4352a303bdd00e1ae444);
        
    
        var popup_76a4c10eb502438fb7783a2b247f43eb = L.popup({"maxWidth": 400});

        
            var html_c6bc44a0e5cd47c58b5143a1c2ec76b2 = $(`<div id="html_c6bc44a0e5cd47c58b5143a1c2ec76b2" style="width: 100.0%; height: 100.0%;">Struisbaai, Western Cape <br> <a href=https://www.picuki.com/media/2558892333020782939 > See Post</div>`)[0];
            popup_76a4c10eb502438fb7783a2b247f43eb.setContent(html_c6bc44a0e5cd47c58b5143a1c2ec76b2);
        

        marker_da10c090aca24873863ba43168479a8d.bindPopup(popup_76a4c10eb502438fb7783a2b247f43eb)
        ;

        
    
    
            var marker_c2ce9cd53498420495449c921b241bcf = L.marker(
                [-33.9305556, 18.4472222],
                {}
            ).addTo(marker_cluster_d0f231bcd9ca4352a303bdd00e1ae444);
        
    
        var popup_bdc2be0e04734b95a5f1f381c1d44b21 = L.popup({"maxWidth": 400});

        
            var html_6696523b60c7481f9c9fc5a3a8a9e6e6 = $(`<div id="html_6696523b60c7481f9c9fc5a3a8a9e6e6" style="width: 100.0%; height: 100.0%;">Woodstock, Western Cape, South Africa <br> <a href=https://www.picuki.com/media/2559510982727366463 > See Post</div>`)[0];
            popup_bdc2be0e04734b95a5f1f381c1d44b21.setContent(html_6696523b60c7481f9c9fc5a3a8a9e6e6);
        

        marker_c2ce9cd53498420495449c921b241bcf.bindPopup(popup_bdc2be0e04734b95a5f1f381c1d44b21)
        ;

        
    
    
            var marker_e49013ab0f5641a0be6083d0414b93f7 = L.marker(
                [-28.8166236, 24.991639],
                {}
            ).addTo(marker_cluster_d0f231bcd9ca4352a303bdd00e1ae444);
        
    
        var popup_eb9e2645a0c34ca2b6dd3dc3b06a175b = L.popup({"maxWidth": 400});

        
            var html_546e3e9badbd45ffa7def77051c02d92 = $(`<div id="html_546e3e9badbd45ffa7def77051c02d92" style="width: 100.0%; height: 100.0%;">South Africa <br> <a href=https://www.picuki.com/media/2560401276960283721 > See Post</div>`)[0];
            popup_eb9e2645a0c34ca2b6dd3dc3b06a175b.setContent(html_546e3e9badbd45ffa7def77051c02d92);
        

        marker_e49013ab0f5641a0be6083d0414b93f7.bindPopup(popup_eb9e2645a0c34ca2b6dd3dc3b06a175b)
        ;

        
    
</script>