{% extends 'viewer_base.html' %}
{% from 'bootstrap/table.html' import render_table %}

{% block content %}
<body>
<div class="container">
  <div class="row text-center">
<!--    <div class="text-info font-weight-bolder col-sm-12  mb-1"><h1>@mapper</h1></div>-->
    <div class="text-danger font-weight-bold col-sm-12 mb-2 mt-0"><h5><u>About</u></h5></div>
    <div class="col-sm-12 mb-0"><p>This app accepts public Instagram handles and populates a collects photos for easy viewing.</p></div>
    <div class="text-danger font-weight-bold col-sm-12 mb-2"><h5><u>Disclaimer</u></h5></div>
    <div class="col-sm-12 mb-0"><p>This app is meant for demonstrative purposes only.
    Data is sourced from public accounts.
    Still 0 weeks old, first time searches may be slow, some locations may fail to map, and only recent posts are accessible.
    Special thanks to <a href="https://www.instagram.com/mattwilliamdalton91/">@09grantm</a> for his content creation.</p></div>

</div>
</div>



</body>
</html>
{% endblock %}